{% macro printLanguageFormRow(lang) %}
    <div href="#" class="js-remove-profile-item pull-right">
        {{ form_row(lang.languageName, {'attr' : { class: 'form-control' }} ) }}
        {{ form_row(lang.level, {'attr' : { class: 'form-control' }} ) }}
        <a href="#" class="js-remove-data pull-right">
            <span class="fa fa-close js-remove-data">delete</span>
        </a>
    </div>
{% endmacro %}

{% macro printEducationFormRow(educ) %}
    <div href="#" class="js-remove-profile-item pull-right">
        {{ form_row(educ.title, {'attr' : { class: 'form-control' }} ) }}
        {{ form_row(educ.school, {'attr' : { class: 'form-control' }} ) }}
        {{ form_row(educ.date_start, {'attr' : { class: 'form-control' }} ) }}
        {{ form_row(educ.date_end, {'attr' : { class: 'form-control' }} ) }}
        {{ form_row(educ.current, {'attr' : { class: 'form-control' }} ) }}
        <a href="#" class="js-remove-data pull-right">
            <span class="fa fa-close js-remove-data">delete</span>
        </a>
    </div>
{% endmacro %}

{% import _self as formLanguageMacros %}
{% import _self as formEducationMacros %}


{{ form_start(form) }}
    <h2>Mes Activites</h2>
    {{ form_row(form.domain, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.area, {'attr' : { class: 'form-control' }} ) }}
    <h2>Langues</h2>
        <div class="col-xs-4 js-profile-wrapper" id="languages-wrapper" data-prototype="{{ formLanguageMacros.printLanguageFormRow(form.languages.vars.prototype)|e('html_attr') }}"  data-index="{{ form.languages|length }}">
        {% for lang in form.languages %}
            {{ formLanguageMacros.printLanguageFormRow(lang) }}
        {% endfor %}
            <a href="#" class="js-profile-add" data-url="languages-wrapper">
                <span class="btn btn-success">Add Another Language</span>
            </a>
        </div>
    <h2>Formations</h2>
        <div class="col-xs-4 js-profile-wrapper" id="education-wrapper" data-prototype="{{ formEducationMacros.printEducationFormRow(form.education.vars.prototype)|e('html_attr') }}"  data-index="{{ form.education|length }}">
        {% for educ in form.education %}
            {{ formEducationMacros.printEducationFormRow(educ) }}
        {% endfor %}
            <a href="#" class="js-profile-add" data-url="education-wrapper">
                <span class="btn btn-success">Add Another Trainning</span>
            </a>
        </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
