{{ form_start(form) }}
    {{ form_row(form.name, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.lastname, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.adress, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.zipCode, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.city, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.telNumber, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.user.email, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.user.password, {'attr' : { class: 'form-control' }} ) }}
    {# {{ form_row(form.user.password.first, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.user.password.second, {'attr' : { class: 'form-control' }} ) }} #}
    {{ form_row(form.driving_license, {'attr' : { class: 'form-control' }} ) }}
    {{ form_row(form.disabled, {'attr' : { class: 'form-control' }} ) }}
    <div class="row">
        <div class="col-sm-9">
             {{ form_row(form.resume.file, {'attr' : { class: 'form-control' }} ) }}
        <div class="col-sm-3">
        <div class="col-sm-3">
            {% if form.vars.data.resume.url|default %}
            <a href="{{ uploaded_asset(form.vars.data.resume.url) }}" target="_blank">
                <img class="show-article-img" src="{{ form.vars.data.resume.url|imagine_filter('squared_thumbnail_x_small') }}" alt=""/>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-bottom:100px;">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
