{{ form_start(form) }}

<div class="row form-center--signin">

    <div class="col-lg-5 col-sm-12 margin-right">
        <div class="row">
            <div class="col-lg-6 form-group">
                {{ form_row(form.lastname, {'label': 'Nom', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="col-lg-6 form-group">
                {{ form_row(form.name, {'label': 'Prénom', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="form-group col-lg-12">
                {{ form_row(form.user.email, {'label' : 'Email', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="form-group col-lg-12">
            {{ form_row(form.user.password.first, {'label' : 'Mot de Passe', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="form-group col-lg-12">
            {{ form_row(form.user.password.second, {'label' : 'Répéter le mot de Passe', 'attr' : { class: 'form-control' }} ) }} 
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-lg-12 form-group">
                {{ form_row(form.adress, {'label': 'Adresse', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="col-lg-6 form-group">
                {{ form_row(form.zipCode, {'label': 'Code Postal', 'attr' : { class: 'form-control' }} ) }}
            </div>
            <div class="col-lg-6 form-group">
                {{ form_row(form.city, {'label': 'Ville', 'attr' : { class: 'form-control' }} ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                {{ form_row(form.telNumber, {'label': 'Numéro de Téléphone', 'attr' : { class: 'form-control' }} ) }}
            </div> 
        </div>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12 margin-left">
        <div class="form-group">
            <div class="custom-file">
                <label class="custom-file-label browse" for="customFileLang" style="position:absolute;top:32px;" data-url="student_resume_file" id="browse-student_resume_file"></label>
                {{ form_row(form.resume, {'label': 'CV', 'attr' : { class: 'form-control' }} ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <label class="custom-file-label browse" for="customFileLang" style="position:absolute;top:32px;" data-url="student_idCard_file" id="browse-student_idCard_file"></label>
                {{ form_row(form.idCard, {'label': 'Carte d\'identité', 'attr' : { class: 'form-control' }} ) }}
            </div>
        </div> 
        <div class="form-group">
            <div class="custom-file">
                <label class="custom-file-label browse" for="customFileLang" style="position:absolute;top:32px;" data-url="student_studentCard_file" id="browse-student_studentCard_file"></label>
                {{ form_row(form.studentCard, {'label': 'Carte d\'étudiant', 'attr' : { class: 'form-control' }} ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <label class="custom-file-label browse" for="customFileLang" style="position:absolute;top:32px;" data-url="student_proofHabitation_file" id="browse-student_proofHabitation_file"></label>
                {{ form_row(form.proofHabitation, {'label': 'Justificatif de Domicile', 'attr' : { class: 'form-control' }} ) }}
            </div>
        </div> 
        <div class="row" id="row-radio">
            <div class="col-lg-6 form-group col-lg-button">
                {{ form_row(form.driving_license, {'label': 'Permis de Conduire', 'attr' : { class: 'form-check' }} ) }}
            </div>
            <div class="col-lg-6 form-group col-lg-button">
                {{ form_row(form.disabled, {'label': 'Handicap', 'attr' : { class: 'form-check' }} ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-button" style="margin-top:25px;">
                <button class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </div>  
</div> 

{{ form_end(form) }}

{# <input type="file" id="student_proofHabitation_file" name="student[proofHabitation][file]" required="required" class="form-control"> #}
        {# {{ form_row(form.resume.file2, {'attr' : { class: 'form-control' }} ) }} #}
{# <div class="col-sm-3">
    {% if form.vars.data.resume.fileName|default %}
    <a href="{{ uploaded_asset(form.vars.data.resume.fileName) }}" target="_blank">
        <img class="show-article-img" src="{{ form.vars.data.resume.fileName|imagine_filter('squared_thumbnail_x_small') }}" alt=""/>
    </a>
</div>
    {% endif %} #}
