{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}
    <h1>Students</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Adress</th>
                <th>Code Postal</th>
                <th>telNumber</th>
                <th>Permis B</th>
                <th>Disabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.adress }}</td>
                <td>{{ student.zipCode }}</td>
                <td>{{ student.telNumber }}</td>
                <td>{% if student.drivingLicense == 1 %} oui {% else %} non {% endif %} </td>
                <td>{% if student.disabled == 1 %} oui {% else %} non {% endif %} </td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                    {% if student.user.roles == 'ROLE_STUDENT' %}
                        {{ include('student/_confirm_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>
{% endblock %}
