{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

    <div class="content-title">
        <h1 class="m-0 text-dark">Tableau de Bord</h1>
    </div>

    <div class="row account-state">
            {% if is_granted('ROLE_SUPER_STUDENT') %} 
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-checked info-box info-success mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check"></i></span>
    
                    <div class="info-box-content">
                    <span class="info-box-text">Etat du compte</span>
                    <span class="info-box-number">Validé</span>
                    </div>
                </div>
            </div>
            {% else %}  
            <div class="col-lg-3">
                <div class="info-progress info-box mb-3 bg-warning">
                    <span class="info-box-icon"><i class="fas fa-hourglass-start"></i></span>
        
                    <div class="info-box-content">
                    <span class="info-box-text">Etat du Compte</span>
                    <span class="info-box-number">En cours de confirmation...</span>
                    </div>
                </div>
            </div>
            {% endif %}
        {# <div style="margin-left:50px;">
            
        <h3>Mon Emploi</h3>

        {% if applies[0] is defined %}
        
            {% if applies[0].confirmed == false %} 
                {% if applies[0].hired == false %} 
                    {% if applies[0].agree == false %} 
                    Vous avez des postulations 
                    {% else %}
                    Dossier en traitement
                    {% endif %}
                {% else %}
                Vous devez Accepter
                {% endif %}
            {% else %}
            L'Entreprise a confirme votre embauche
            {% endif %}

        {% else %}
        <p style="color:red;">Aucune mission en cours</p>
        {% endif %} #}

    </div>

    
    <div class="row card-margin">

        <div class="col-lg-12">
            
            <div class="row">
                <!-- <div clads="col-lg-12">
                    <h3>Infos du compte</h3><br>
                </div> -->
                <div class="col-lg-6">
                    <h3 class="m-0 text-dark">Infos du compte</h3><br>
                    <div class="card col-lg-">
                        <div class="card-header border-transparent">
                            <!-- <h3 class="card-title">Infos du compte</h3> -->
                    
                            <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            </div>
                        </div>
                    
                        <div class="card-body p-0 card-dashboard">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <tr>
                                        <th>Prénom</th>
                                        <td>{{ student.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ student.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ student.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ student.adress }}, {{ student.zipCode }}, {{ student.city }}</td>
                                    </tr>
                                    <tr>
                                        <th>Téléphone</th>
                                        <td>{{ student.telNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>Permis B</th>
                                        <td>{% if student.drivingLicense == 1 %} oui {% else %} non {% endif %} </td>
                                    </tr>
                                    <tr>
                                        <th>Handicappé</th>
                                        <td>{% if student.disabled == 1 %} oui {% else %} non {% endif %} </td>   
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="m-0 text-dark">Mes Documents</h3><br> 
                    <div class="card col-lg-12">
                        <div class="card-header border-transparent">
                            <!-- <h3 class="card-title">Mes Documents</h3> -->
                    
                            <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            </div>
                        </div>
                    
                        <div class="card-body p-0 card-dashboard">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <tr>
                                        <th>Mon CV</th>
                                        <td>
                                            <a href="{{ path('student_download_resume', { id: student.resume.id }) }}"><span class="fa fa-download"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ma Carte d'identité</th>
                                        <td>
                                            <a href="{{ path('student_download_idcard', { id: student.idCard.id }) }}">{#<span class="fa fa-download">{{ student.idCard.originalFilename }}</span>#}<span class="fa fa-download"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ma Carte d'étudiant</th>
                                        <td>
                                            <a href="{{ path('student_download_studentcard', { id: student.studentCard.id }) }}"><span class="fa fa-download"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Justificatif de domicile</th>
                                        <td>
                                            <a href="{{ path('student_download_proofhabitation', { id: student.proofHabitation.id }) }}"><span class="fa fa-download"></span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row card-margin">
        <div class="col-lg-6">
            <h3 class="m-0 text-dark">Profile Etudiant</h3><br>
            <h4 >Général</h4>
            <div class="card col-lg-12">
                <div class="card-header border-transparent">
                    <!-- <h3 class="card-title">Général</h3> -->
            
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <th>Domaine d'activité</th>
                                    <td>{{ student.profile.domain }}</td>
                                </tr>
                                <tr>
                                    <th>Région</th>
                                    <td>{{ student.profile.area }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4>Langues</h4>
            <div class="card col-lg-12">

                <div class="card-header border-transparent">
                    <!-- <h3 class="card-title">Langues</h3> -->
            
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <td><strong>Langues</strong></td>
                                    <td><strong>Niveau</strong></td>
                                </tr>
                                {% for languages in student.profile.languages %}
                    
                                <tr class="tr-border">
                                    <td>{{ languages.languageName }}</td>
                                    <td>{{ languages.level }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>

            <h4>Formation</h4>

            <div class="col-lg-12 table-scroll">

                <div class="card table-scroll-card-width">
                    <div class="card-header border-transparent">
                        <!-- <h3 class="card-title">Formation</h3> -->
                
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        </div>
                    </div>
                
                <div class="card-body p-0 card-dashboard">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <td><strong>Titre</strong></td>
                                        <td><strong>Ecole</strong></td>
                                        <td><strong>Début</strong></td>
                                        <td><strong>Fin</strong></td>
                                    </tr>
                                    {% for education in student.profile.education %}
                                    <tr class="tr-border">
                                        <td>{{ education.title }}</td>
                                        <td>{{ education.school }}</td>
                                        <td>{{ education.dateStart|date("m/d/Y") }}</td>
                                        {% if education.current == true %}
                                        <td>  en cours </td>
                                        {% else %}
                                            <td>{{ education.dateEnd|date("m/d/Y") }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>  
                </div>
            
            </div>
        </div>
        {# <div class="col-lg-6">
            <div class="card col-lg-12" style="padding:0px;">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Mes Documents</h3>
            
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <tr>
                                <th>Mon CV</th>
                                <td>
                                    <a href="{{ path('student_download_resume', { id: student.resume.id }) }}"><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <th>Ma Carte d'identite</th>
                                <td>
                                    <a href="{{ path('student_download_idcard', { id: student.idCard.id }) }}"><span class="fa fa-download">{{ student.idCard.originalFilename }}</span><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <th>Ma Carte d'etudiant</th>
                                <td>
                                    <a href="{{ path('student_download_studentcard', { id: student.studentCard.id }) }}"><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <th>Justificatif de domicile</th>
                                <td>
                                    <a href="{{ path('student_download_proofhabitation', { id: student.proofHabitation.id }) }}"><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> #}
    </div>

{#
    <h3>Mes Documents</h3>

    <table class="table">
        <tbody>
            <tr>
                <td><strong>Mon CV</strong></td>
                {% if is_granted("ROLE_STUDENT") %}
                <td><strong>Ma Carte d'identite</strong></td>
                <td><strong>Ma Carte d'etudiant</strong></td>
                <td><strong>Justificatif de domicile</strong></td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <span>
                        <a href="{{ path('student_download_resume', { id: student.resume.id }) }}"><span class="fa fa-download">{{ student.resume.originalFilename }}</span></a>
                    </span>
                    <a href="{{ uploaded_asset(student.resume.fileName) }}" target="_blank">
                        <img class="show-article-img" src="{{ student.resume.fileName|imagine_filter('squared_thumbnail_small') }}" alt=""/>
                    </a>
                </td>
                <td>   
                    <span>
                        <a href="{{ path('student_download_idcard', { id: student.idCard.id }) }}"><span class="fa fa-download">{{ student.idCard.originalFilename }}</span></a>
                    </span>
                    <a href="{{ uploaded_asset(student.resume.fileName) }}" target="_blank">
                        <img class="show-article-img" src="{{ student.resume.fileName|imagine_filter('squared_thumbnail_small') }}" alt=""/>
                    </a>
                </td>
                <td>   
                    <span>
                        <a href="{{ path('student_download_studentcard', { id: student.studentCard.id }) }}"><span class="fa fa-download">{{ student.studentCard.originalFilename }}</span></a>
                    </span>
                    <a href="{{ uploaded_asset(student.resume.fileName) }}" target="_blank">
                        <img class="show-article-img" src="{{ student.resume.fileName|imagine_filter('squared_thumbnail_small') }}" alt=""/>
                    </a>
                </td>
                <td>   
                    <span>
                        <a href="{{ path('student_download_proofhabitation', { id: student.proofHabitation.id }) }}"><span class="fa fa-download">{{ student.proofHabitation.originalFilename }}</span></a>
                    </span>
                   
                    <a href="{{ uploaded_asset(student.resume.fileName) }}" target="_blank">
                        <img class="show-article-img" src="{{ student.resume.fileName|imagine_filter('squared_thumbnail_small') }}" alt=""/>
                    </a> 
                </td>
            </tr>
        </tbody>
    </table>

    #}

{% endblock %}
