{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') and student.user.roles == 'ROLE_STUDENT' %}

        {{ include('student/_confirm_form.html.twig') }}

    {% endif %}

    <h1>Mes Infos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ student.user.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ student.lastname }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ student.adress }}, {{ student.zipCode }}, {{ student.city }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ student.telNumber }}</td>
            </tr>
            <tr>
                <th>Permis B</th>
                <td>{% if student.drivingLicense == 1 %} oui {% else %} non {% endif %} </td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{% if student.disabled == 1 %} oui {% else %} non {% endif %} </td>   
            </tr>
        </tbody>
    </table>
    
    <h1>Mon Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Domaine d'activite</th>
                <td>{{ student.profile.domain }}</td>
            </tr>
            <tr>
                <th>Region recherchee</th>
                <td>{{ student.profile.area }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Langues</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Level</strong></td>
            </tr>
            {% for languages in student.profile.languages %}

            <tr>
                <td>{{ languages.languageName }}</td>
                <td>{{ languages.level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><strong>Title</strong></td>
                <td><strong>School</strong></td>
                <td><strong>From</strong></td>
                <td><strong>To</strong></td>
            </tr>
            {% for education in student.profile.education %}
            <tr>
                <td>{{ education.title }}</td>
                <td>{{ education.school }}</td>
                <td>{{ education.dateStart|date("m/d/Y") }}</td>
                {% if education.current == true %}
                  <td>  en cours </td>
                {% else %}
                    <td>{{ education.dateEnd|date("m/d/Y") }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Mes Documents</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><strong>Mon CV</strong></td>
            </tr>
            <tr>
                <td>
                    
                    <span>
                        <a href="{{ path('student_download_document', { id: student.resume.id }) }}"><span class="fa fa-download">{{ student.resume.originalFilename }}</span></a>
                    </span>
                    <!-- temporary -->
                    <a href="{{ uploaded_asset(student.resume.fileName) }}" target="_blank">
                        <img class="show-article-img" src="{{ student.resume.fileName|imagine_filter('squared_thumbnail_small') }}" alt=""/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
