{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Emploi {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="m-0 text-dark">Modifier un Emploi</h1> <br>
                <a href="{{ path('offers_company_index', {id:company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
            </div>
            <form class="delete-offers-form col-lg-6 " method="post" action="{{ path('offers_delete', {'id': offers.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offers.id) }}">
                <button class="btn btn-danger" style="display:block;">Supprimer</button>
            </form>
        </div>
    </div> <br>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    {{ include('offers/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
