{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}
    <h1>Offers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.title }}</td>
                <td>{{ offer.location }}</td>
                <td>{{ offer.domain }}</td>
                <td>{{ offer.dateStart ? offer.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.dateEnd ? offer.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if offer.applies[0] is defined %}
                        {% if offer.applies[0].offers.id is not null %}
                        {#} {{ offer.applies[0].offers.id }} #}
                        apply
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('offers_preview', {'id': offer.id}) }}">show</a>
                    <a href="{{ path('offers_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offers_new', {id:company.id}) }}" class="btn btn-success">Create new</a>
{% endblock %}
