{# find offers page #}
{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - Alternance {% endblock %}

{% block body %}

<div class="background-jobs">

    <div class="container-fluid container-jobs">

        <header id="header">

            <div class="container" id="customer-header">
                {# nav #}
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        {% if page is defined %}
                        <li><a href="{{ path('offers_index', {'page':page}) }}">Alternances</a></li>
                        {% else %}
                        <li><a href="{{ path('offers_index', {'page':1}) }}">Alternances</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="/admin">ADMIN</a></li>
                            {% elseif  is_granted('ROLE_STUDENT') %}
                            <li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
                            {% elseif  is_granted('ROLE_COMPANY') %}
                            <li><a href="{{ path('company_show', {'id': app.user.company.id}) }}">MON ENTREPRISE</a></li>
                            {% elseif  is_granted('ROLE_SCHOOL') %}
                            <li><a href="{{ path('school_show', {'id': app.user.school.id}) }}">MON ECOLE</a></li>
                            {% endif %} 
                        <li><a href="/logout">DECONNEXION</a></li>
                        {% else %}
                        <li class="drop-down"><a>S'INSCRIRE</a>
                            <ul>
                                <li><a href="/student/new">Etudiants</a></li>
                                <li><a href="/company/new">Entreprises</a></li>
                                <li><a href="/school/new">Ecoles</a></li>
                            </ul>
                        </li> 
                        <li><a href="/login/">CONNEXION</a></li>
                        {% endif %}
                    </ul>
                </nav>
            
            </div>
        </header>

    <div class="jobs-container">

        <h1>Alternances</h1><br>
        {# success message #}
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        {# option menu #}
        <form method="get" action="{{ path('find') }}" style="margin:auto;width:300px;" id="form-options">
            <p>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <label style="text-align:center;">Quel est votre domaine ?</label><button class="btn btn-primary" style="margin:10px;"><i class="fa fa-search"></i></button>
                </div>
                <select name="domain" id="domain">
                    <option value="tous">Tous</option>
                    <option value="Administration & législation">Administration & législation</option>
                    <option value="Bâtiment & construction">Bâtiment & construction</option>
                    <option value="Communication">Communication</option>
                    <option value="Culture">Culture</option>
                    <option value="Economie & gestion">Economie & gestion</option>
                    <option value="Environnement & nature">Environnement & nature</option>
                    <option value="Hôtellerie & alimentation">Hôtellerie & alimentation</option>
                    <option value="Informatique & télécommunication">Informatique & télécommunication</option>
                    <option value="Santé & bien-être">Santé & bien-être</option>
                    <option value="Sciences">Sciences</option>
                    <option value="Sciences humaines & sociales">Sciences humaines & sociales</option>
                    <option value="Sécurité">Sécurité</option>
                    <option value="Technique & industrie">Technique & industrie</option>
                    <option value="Tourisme, sports & loisirs">Tourisme, sports & loisirs</option>
                    <option value="Transports & logistique">Transports & logistique</option>
                </select>
                <input type="hidden" name="_token" value="{{ csrf_token('find' ~ page) }}">
            </p>
         </form>
         {# paginate #}
        <div class="pagination-top">{{ knp_pagination_render(offers) }}</div>
         {# render offers #}
         <!-- <div class="card card-solid"> -->
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <div class="d-flex" style="flex-wrap:wrap;">
        {% for offer in offers %}
            {% if offer.applies[0] is not defined or offer.applies[0] is defined and offer.applies[0].hired == false and offer.applies[0].confirmed == false and offer.applies[0].finished == false %}
                    <div class="job-offer card bg-light">
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <div class="card-header text-muted border-bottom-0"  style="text-align:center;margin-bottom:10px;padding-top:0px;">
                                        {{ offer.company.companyName }}
                                        </div>
                                <h2 class="lead" style="text-align:center;"><b>{{ offer.title }}</b></h2>
                                <p class="text-muted text-sm" style="text-align:center;"><b>{{ offer.domain }}</b></p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small" style="text-align:center;"><span class="fa-li"></span><i class="fas fa-map-marker-alt"></i></span> {{ offer.location }}</li>
                                </ul>
                                </div>
                                <div class="col-5 text-center">
                                    {% if offer.company.pictures.fileName is defined %}
                                    <img src="{{ uploaded_asset(offer.company.pictures.fileName) }}" alt="" class="img-circle img-fluid" style="width: 200px;height: 150px;">
                                    {% else %}
                                    <img src="https://via.placeholder.com/150" alt="" class="img-circle img-fluid">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="{{ path('offers_show', {'id': offer.id, 'page':page}) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-briefcase"></i> Voir l'Annonce
                                </a>
                            </div>
                        </div>
                    </div>
            {% else %}
            <tr>
                <td colspan="8">
                    
                    <div class="info-box mb-3" style="border:1px solid rgba(0, 0, 0, 0.125);border-radius:5px;margin-top:30px;">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-info"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-number">Aucune altrenance pour le moment</span>
                        </div>
                    </div>

                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">
       
                    <div class="info-box mb-3" style="border:1px solid rgba(0, 0, 0, 0.125);border-radius:5px;margin-top:30px;">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-info"></i></span>
        
                        <div class="info-box-content">
                            <span class="info-box-number">Aucune altrenance pour le moment</span>
                        </div>
                    </div>
                            
                </td>
            </tr>
        {% endfor %} 
        </div>
    </div>
</div>
        {# paginate #}
        <div class="pagination-bottom">{{ knp_pagination_render(offers) }}</div> 

    </div>
</div>

{# footer #}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
        </div>
        <div class="credits">
        L'équipe de SWEEETCH
        </div>
    </div>
</footer>

{% endblock %}
