{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}
    <h1>Offers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offers.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ offers.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ offers.location }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ offers.domain }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ offers.dateStart ? offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ offers.dateEnd ? offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offers.description }}</td>
            </tr>
        </tbody>
    </table>

    {% if applies is defined %}

    <h1>Appliants</h1>

    {% for applies in applies %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Profile</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>{{ applies.student.id }}</td>
                <td>{{ applies.student.name }}</td>
                <td>{{ applies.student.lastname }}</td>
                {# <td><a href="{{ path('student_show_applied', { id:applies.student.id }) }}">show</a></td> #}
                <td><a href="{{ path('student_show', { id:applies.student.id }) }}">show</a></td>
                <td class='btn btn-group' style="color:white;">
                    <a class="btn btn-success">Embaucher</a>
                    <a class="btn btn-danger">Refuser</a>
                </td>
            </tr>
            
        </tbody>
    </table>

    {% endfor %}

    {% endif %}

    <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('offers_edit', {'id': offers.id}) }}" class="btn btn-light">edit</a>

{% endblock %}
