{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - offers {% endblock %}

{% block body %}

    <div class="container">

        <nav class="main-nav d-none d-lg-block" style="display:flex !important;margin-bottom:50px;">
            <ul>
                <li class="active"><a href="/">ACCUEIL</a></li>
                <li class="drop-down"><a>S'INSCRIRE</a>
                  <ul>
                      <li><a href="/student/new">Etudiant</a></li>
                      <li><a href="/company/new">Professionel</a></li>
                      <li><a href="#">Ecole</a></li>
                  </ul>
                </li> 
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="/admin">ADMIN</a></li>
                    {% elseif  is_granted('ROLE_STUDENT') %}
                    <li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
                    {% endif %}
                    <li><a href="/logout">DECONNEXION</a></li>
                {% else %}
                <li><a href="/login">CONNEXION</a></li>
                {% endif %}
            </ul>
        </nav><!-- .main-nav -->

        <h1>{{ offers.title }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Location</th>
                    <td>{{ offers.location }}</td>
                </tr>
                <tr>
                    <th>Domain</th>
                    <td>{{ offers.domain }}</td>
                </tr>
                <tr>
                    <th>DateStart</th>
                    <td>{{ offers.dateStart ? offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateEnd</th>
                    <td>{{ offers.dateEnd ? offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ offers.description }}</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group">

            <a href="{{ path('offers_index') }}" class="btn btn-primary">Back to List</a>

            {% if is_granted('ROLE_SUPER_STUDENT') %}

            {# <form method="post" action="{{ path('apply', { id:offers.id, student_id: app.user.student.id }) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offers.id) }}">
                <button class="btn btn-success">Postuler</button>
            </form> #}
            
            {% elseif is_granted('ROLE_STUDENT') %}
            <br><br>
            <p style="color:red;">Votre compte doit etre valide pour pouvoir postuler</p>
            {% endif %}
        </div>
    
    </div>

{% endblock %}
