{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - offers {% endblock %}

{% block body %}

    <div class="container">

        <nav class="main-nav d-none d-lg-block" style="display:flex !important;margin-bottom:50px;">
            <ul>
                <li class="active"><a href="/">ACCUEIL</a></li>
                <li class="drop-down"><a>S'INSCRIRE</a>
                  <ul>
                      <li><a href="/student/new">Etudiant</a></li>
                      <li><a href="/company/new">Professionel</a></li>
                      <li><a href="#">Ecole</a></li>
                  </ul>
                </li> 
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="/admin">ADMIN</a></li>
                    {% elseif  is_granted('ROLE_STUDENT') %}
                    <li><a href="{{ path('company_show', {'id': app.user.student.id}) }}">MON ENTREPRISE</a></li>
                    {% endif %}
                    <li><a href="/logout">DECONNEXION</a></li>
                {% endif %}
            </ul>
        </nav><!-- .main-nav -->

        <h1>{{ offers.title }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Location</th>
                    <td>{{ offers.location }}</td>
                </tr>
                <tr>
                    <th>Domain</th>
                    <td>{{ offers.domain }}</td>
                </tr>
                <tr>
                    <th>DateStart</th>
                    <td>{{ offers.dateStart ? offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateEnd</th>
                    <td>{{ offers.dateEnd ? offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ offers.description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('offers_index') }}" class="btn btn-primary">Back to List</a>

        {% if is_granted('ROLE_SUPER_STUDENT') %}
        <a class="btn btn-success" style="color:white">Postuler</a>
        {% endif %}

    
    </div>

{% endblock %}
