{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - home {% endblock %}

{% block stylesheets %}
    <!-- import assets from assets/js/app.js -->
    {{ parent() }}

    <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    <!-- Main Stylesheet File -->

{% endblock %}


{% block body %}

<!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/SweeetchA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/sweeetch.ton.alternance/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://fr.linkedin.com/company/sweetchmontpellier?trk=public_profile_topcard_current_company" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/sweeetch_alternance/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- LOGO HOME IMAGE -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>SWEEETCH</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ path('homepage') }}">Acceuil</a></li>
          <li><a href="#about">À propos</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Équipe</a></li>

          <li><a href="#footer">Contact</a>
          <li><a href="{{ path('offers_index') }}">Emplois</a></li>
              {# <ul>
                  <li><a href="cgu.html">Conditions Générales D'utilisation</a></li>
                  <li><a href="cgdc.html">Politique de confidentialité</a></li>
                  <li><a href="#footer">Contact Partenariat</a></li>
              </ul> #}
          </li>
          
            {% if is_granted('ROLE_USER')  %}
                {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('admin', {id:app.user.id}) }}">ADMIN</a></li>
                {% elseif  is_granted('ROLE_STUDENT') %}
                  <li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
                {% elseif  is_granted('ROLE_COMPANY') %}
                  <li><a href="{{ path('company_show', {'id': app.user.company.id}) }}">MON ENTREPRISE</a></li>
                  {% elseif  is_granted('ROLE_SCHOOL') %}
                  <li><a href="{{ path('school_show', {'id': app.user.school.id}) }}">MON ECOLE</a></li>
                {% endif %}
                <li><a href="/logout">DECONNEXION</a></li>
            {% else %}
              <li class="drop-down"><a>S'INSCRIRE</a>
                <ul>
                    <li><a href="/student/new">Etudiants</a></li>
                    <li><a href="/company/new">Entreprises</a></li>
                    <li><a href="/school/new">Ecoles</a></li>
                </ul>
              </li>
              <li><a href="/login">CONNEXION</a></li>
            {% endif %}   
                     
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section /*  ici j'écris quoi ?*/
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2><span class="couleurR">Les</span><span class="couleurB"> fonctionnalités</span><span class="couleurJ"> De Sweetch</span><br>des solutions innovantes<span> Commencez dès maintenant !</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Inscrivez-vous</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{{ asset('build/intro-img-f.png') }}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      A PROPOS DE NOUS 
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="why-us-img">
              <img src="{{ asset('build/about-img.jpg') }}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Comment Sweeetch fonctionne</h2>
              <h3>L'avenir vous appartient, finies les démarches inutiles, il est temps d'atteindre votre objectif</h3>

              <p>Accepter une alternance par dépit, c'est fini !<br><br>

                  Avec Sweeetch,  c'est toi qui décides de ton futur : Marketing, ressources humaines, mode, communication, artisanat...<br><br>
                  
                  Des centaines d'offres d'emplois accessibles chaque jour, et sans intermédiaire. Tu y trouveras forcément ton bonheur 😀
                  </p>
              <p>Fais confiance à Sweeetch ! 

                  De la prestigieuse Business School de ta ville en passant par les meilleurs centres de formation en alternance, nous sélectionnons pour toi les établissements les plus adaptés à la direction que tu souhaites donner à ta carrière professionnelle.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i>Accède aux meilleures écoles</li>
                <li><i class="ion-android-checkmark-circle"></i>Choisis parmi tous les secteurs d'activité</li>
                <li><i class="ion-android-checkmark-circle"></i>Des astuces qui font la différence</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
    SERVICES 
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Service</h3>
          <p>Voici en quoi SWEETCH s'engagent<br><br>
            Une recherche d'alternance simplifiée :  Une école et une entreprise en quelques clics, des conseils, coaching pour t'aider dans tes recherches, des partenaires engagés.
          </p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #f3f3f3;"><i class="fa fa-file" style="color: #1bd449;"></i></div>
              <h4 class="title"><a href="">Retrouvez vos documents sous format numérique</a></h4>
              <p class="description">Pour limiter la pollution SWEEETCH Vous met à disposition vos documents sous format numérique (PDF).</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Carnet D'adresses</a></h4>
              <p class="description">afin de vous proposer les meilleures missions, nous essayons d'élargir notre carnet d'adresses chaque jour.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Dossier D'inscription</a></h4>
              <p class="description">Nous avons juste besoin de certains documents pour établir un dossier d'inscription, Pièce d'identité, Carte vital, RIB, Justificatif de domicile. </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Rapidité</a></h4>
              <p class="description">Après votre inscription notre objectif est de vous proposer une mission dans les 6 mois suivant votre inscription. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Monopole</a></h4>
              <p class="description">Nous souhaitons avoir le monopole sur l'intérim 18-25 ans en France grâce à vous nous pouvons l'avoir.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">CDI, CDD</a></h4>
              <p class="description">Le principal objectif chez SWEEETCH, c'est de vous insérer dans le monde du travail en temps partiel, temps complet avec un CDI OU CDD </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Pourquoi nous choisir ?
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Pourquoi nous choisir?</h3>
          <p>Nous savons que s'insérer sans bagage ou sorti récemment du système scolaire s'avère compliqué, c'est pourquoi vous êtes notre priorité, vous êtes notre avenir travaillant ensemble.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="{{ asset('build/why-us.jpg') }}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <h1>SWEEETCH</h1>
              <p>
                  Une alternance en quelques clics    Grâce à Sweeetch, tu peux désormais trouver ton école et ton entreprise simplement

              </p>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #0748fc;"></i>
                <h4>Un accompagnement de qualité</h4>
                <p>Notre équipe t'aide  et te conseille sur ta recherche d'alternance</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-users" style="color: #0748fc;"></i>
                <h4>Tous les secteurs d'activité</h4>
                <p>Accepter une alternance par dépit, c'est fini. Avec Sweeetch</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-thumbs-up" style="color: #0748fc;"></i>
                <h4>C'est toi qui décides de ton futur </h4>
                <p>Marketing, ressources humaines, mode, communication, artisan</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">80</span>
            <p>Clients SWEEETCH</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1</span>
            <p> Écoles partenaires</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">70</span>
            <p>Alternants inscrits</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Professionnels inscrits </p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
    Section d'appel à l'action
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Passer à l'action</h3>
            <p class="cta-text">Il est temps de prendre le taureau par les cornes, aujourd'hui vous n'êtes plus seules nous sommes là ! ensemble nous pouvons réussir.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Maintenant</a>
          </div>
        </div>

      </div>
    </section>

    <!--==========================
      Features section APPP
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{{ asset('build/features-1.svg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4><span class="couleurR">Les</span><span class="couleurB"> fonctionnalités</span><span class="couleurJ"> De Sweetch</span><br>des solutions innovantes<span> Commencez dès maintenant !</span</h4><br><br>

            <p>
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem purus, elementum non turpis sit amet, mollis ultricies lectus. Praesent iaculis, turpis eu blandit tempus, tellus ipsum congue lorem, nec tincidunt ipsum dui at ni
            </p>
            <p>
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem purus, elementum non turpis sit amet, mollis ultricies lectus. Praesent iaculis, turpis eu blandit tempus, tellus ipsum congue lorem, nec tincidunt ipsum dui at ni
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="{{ asset('build/features-2.svg') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Lorem ipsum</h4>
            <p>
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem purus, elementum non turpis sit amet, mollis ultricies lectus. Praesent iaculis, turpis eu blandit tempus, tellus ipsum congue lorem, nec tincidunt ipsum dui at ni
            </p>
            <p>
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem purus, elementum non turpis sit amet, mollis ultricies lectus. Praesent iaculis, turpis eu blandit tempus, tellus ipsum congue lorem, nec tincidunt ipsum dui at ni
            </p>
            <p>
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem purus, elementum non turpis sit amet, mollis ultricies lectus. Praesent iaculis, turpis eu blandit tempus, tellus ipsum congue lorem, nec tincidunt ipsum dui at ni
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Témoin
    ============================-->


    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Équipe</h3>
          <p>Notre équipe est en cours des recrutements, nous tarderons pas à vous présenter les membres de SWEEETCH dans les plus brefs délais</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ asset('build/team-1.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Noam BERKANI</h4>
                  <span>CEO Sweeetch</span>
                  <div class="social">
                    <a href="https://twitter.com/BerkaniNoam" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/noam.berkani" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/noam-berkani-17156818a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ asset('build/team-2.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jérémie MOUËTAUX</h4>
                  <span>Directeur commercial Sweeetch</span>
                  <div class="social">
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ asset('build/team-3.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Eugène BASSANINI</h4>
                  <span>CTO Sweeetch</span>
                  <div class="social">
                    <a href="https://twitter.com/P_Wakanda"><i class="fa fa-twitter" target="_blank"></i></a>
                    <a href="https://www.facebook.com/tyler.amarushakur"><i class="fa fa-facebook" target="_blank"></i></a>
                    <a href="https://www.linkedin.com/in/eugène-pakisty-bassanini-malela-573932bb/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{{ asset('build/team-4.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jade MAN</h4>
                  <span>Directrice de la communication Sweeetch</span>
                  <div class="social">
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients photos
    ============================-->
    <section id="clients" class="wow fadeInUp">
      </div>
    </section><!-- #clients -->

    <!--========================== !-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Questions fréquemment posées</h3>
          <p>Ces questions sont les plus fréquemment posées du point de vue des alternants, n'hésitez pas à nous contacter pour plus d'informations.</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Développer votre employabilité.<i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                En tant qu’intérimaire, vous disposez d’un large panel de solutions de formation pour améliorer votre employabilité. Découvrez l’ensemble des dispositifs de formation ouvert aux intérimaires.
                FASTT (Fonds d'action Social du Travail Temporaire), Formations etc 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Vos droits en intérim.<i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Maladie, accidents du travail, maternité… Vous bénéficiez des indemnisations de la Sécurité Sociale, de la caisse de retraite, de prévoyance du Travail Temporaire et sous certaines conditions, des revenus complémentaires versés par l’IREPS.
                De plus, vous aurez droit aux congés habituels prévus par le droit du travail ainsi qu’aux congés exceptionnels pour certains événements familiaux : <br>
                * 4 jours pour un mariage <br>
                * 3 jours pour la naissance d’un enfant <br>
                * 1 jour pour le décès d’un parent… <br>
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Vos devoirs en intérim.<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Votre qualité d’intérimaire fait de vous notre ambassadeur. Vous êtes garant de la bonne exécution de votre contrat de mission et du respect du règlement intérieur de l’entreprise.
                Cette responsabilité vous témoigne de la confiance que nous vous accordons ! Votre statut d’intérimaire vous soumet également à certaines obligations :
                <br>
                * Passer une visite médicale <br>
                * Être présent pendant toute la mission d’intérim <br>
                * Réaliser la mission qui vous a été confiée avec la meilleure qualité possible <br>
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">SWEEETCH Agence en ligne<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                SWEEETCH est une agence en ligne spécialisée dans l'intérim 18-25 ans. nous comptons à ce jour aucune agence physique. L'importance pour nous est d'assurés nos candidats vers un emploi.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Les élements qui composent votre rémunération <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Vous la percevez à la fin de votre contrat. 10% d'indemnité de congés payés : elle vous sera versée à chaque fin de contrat, soit 10% du salaire brut, IFM comprise.
                Le versement de votre salaire s'effectue avant le 15 du mois 
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Acquérir de l'expérience avec SWEEETCH<i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                "Passer par l'intérim est très intéressant pour acquérir de l'expérience" explique Jérôme Gras, Directeur Executif chez Page Personnel. "Les jeunes diplômés ont d'ailleurs bien compris ses multiples avantages. Ils ne sont pas dupes : ils savent qu'ils ne trouveront peut-être pas exactement ce qu'ils recherchent en intérim mais qu'ils s'en rapprocheront. Mais c'est aussi ça la vie professionnelle."
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>SWEEETCH
                    </h3>
                    <p>Une alternance en quelques clics    Grâce à Sweeetch, tu peux désormais trouver ton école et ton entreprise simplement.</p>
                    <a class="twitter-timeline" href="https://twitter.com/SweeetchA?ref_src=twsrc%5Etfw" height="450">Tweets by SweeetchA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    
                  </div>


                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>
                        Liens utiles</h4>
                    <ul>
                      <li><a href="#">Acceuil</a></li>
                      <li><a href="#">À propos de nous</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Conditions d'utilisation</a></li>
                      <li><a href="#">Politique de confidentialité</a></li>
                    </ul>
                  </div>
                  <div class="footer-links">
                      <h4>NOUS CONTACTER</h4>
                      <p>
                        Siège: SWEEETCH<br>
                        Rue parmentier <br>
                        Montpellier, 34000<br>
                        <strong>Téléphone:</strong> 01 12 52 63 45<br>
                        <strong>Email:</strong> sweeetch@service.com<br>
                      </p>
                    </div>
                  <div class="footer-links">
                    <h4>Siège CTO SWEEETCH</h4>
                    <p>
                      Siège: SWEEETCH CTO  <br>
                      Rue parmentier <br>
                      Montbéliard, 25200<br>
                      <strong>Téléphone:</strong> 01 12 52 63 45<br>
                      <strong>Email:</strong> sweeetch@service.com<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/SweeetchA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/sweeetch.ton.alternance/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://fr.linkedin.com/company/sweetchmontpellier?trk=public_profile_topcard_current_company" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/sweeetch_alternance/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>MESSAGE</h4>
              <p>Besoin d'aide ? Une question ? Sweeetch te répond ans les plus brefs délais.<br><br>

                  Notre équipe d'experts te suit dans chaque démarche (CV, lettre de motivation, entretiens...) et te fais profiter d'un coaching de qualité grâce à notre service d'accompagnement personnalisé.
              </p>
              <form action="{{ path('contact') }}" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="NOM Prénom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Envoyer</button></div>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
      </div>
      <div class="credits">

        L'équipe de SWEEETCH</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

{% endblock %}
