{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - entreprises {% endblock %}

{% block body %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Entreprises</h1>
                </div>
            </div>
        </div>
    </div>

    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.companyName }}</td>
                <td>{{ company.siret }}</td>
                <td class="btn-group">
                    <div style="margin-right:20px;" class="actions">
                        <a href="{{ path('company_show', {'id': company.id}) }}">show</a>
                        <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
                        {% if company.user.roles == ['ROLE_COMPANY'] %}
                            <form method="post" action="{{ path('admin_confirm', {'id': company.user.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.user.id) }}">
                                <button style="color:purple;background:white;border:0px;">confirm</button>
                            </form>
                            <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ company.user.id }}"></i></a>
                        {% else %}
                            <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ company.user.id }}"></i></a>
                        {% endif %}
                    </div>
                </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/_warning_form.html.twig') }}

{% endblock %}
