{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Entrepirses {% endblock %}

{% block body %}

    <div class="row row-top">

       <div class="col-lg-5">

            <div class="content-title">
                <h1>Tableau de Bord</h1>
            </div>

            <div class="row account-state">
                {% if company.user.roles == ["ROLE_SUPER_COMPANY"] %}
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-checked info-box info-success mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check"></i></span>

                        <div class="info-box-content">
                        <span class="info-box-text">Etat du compte : </span>
                        <span class="info-box-number">Validé</span>
                        </div>
                    </div>
                </div>
                {% else %} 
                <div class="col-12 col-sm-6 col-md-10">
                    <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Etat du Compte</span>
                            <span class="info-box-number">En cours de confirmation...</span>
                        </div>
                        
                    </div>
                </div> 
                {% endif %}
            </div>
        </div>
    </div> 

    <div class="row card-margin">

        <div class="col-lg-6" >

            <div class="card col-lg-" style="padding:0px;">

                <div class="cardRed card-header-color card-header border-transparent">
                    <p class="card-title">Infos du compte</p>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                </div>
                
                <div class="card-body p-0 card-dashboard">
                    <div class="table-padding table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <th>Entreprise</th>
                                    <td>{{ company.companyName }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ company.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ company.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ company.address }}</td>
                                </tr>
                                <tr>
                                    <th>Code Postal</th>
                                    <td>{{ company.zipCode }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ company.city }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ company.telNumber }}</td>
                                </tr>
                                <tr>
                                    <th>Siret</th>
                                    <td>{{ company.siret }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            {# <div class="card col-lg-12" style="padding:0px;">

                <div class="cardRed card-header-color card-header border-transparent">
                    <p class="card-title">Profil Etudiant</p>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
        
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <th>Domaine d'activité</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Région</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-dashboard card col-lg-12" style="padding:0px;">

                <div class="cardRed card-header-color card-header border-transparent">
                    <p class="card-title">Langues</p>
    
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>Langues</th>
                                    <th>Niveau</th>
                                </tr>
                            </thead>
                            <tbody>
                               {# } {% for languages in student.profile.languages %}
                    
                                <tr class="tr-border">
                                    <td>{{ languages.languageName }}</td>
                                    <td>{{ languages.level }}</td>
                                </tr>

                                {% else %} 

                                <tr class="border-top">
                                    <td colspan="8" class="border-top-td">Aucune langue</td>
                                </tr> 

                                {% endfor %} #}
                         {#}   </tbody> 
                        </table>
                    </div>
                </div>  
           </div>  #}
            
            <div class="card-dashboard col-lg-12 table-scroll" >

                {# <div class="card table-scroll-card-width" style="padding:0px;" >

                    <div class="cardRed card-header-color card-header border-transparent">
                        <p class="card-title">Formations</p>
        
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                    </div>
                
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th class="th-border">Titre</th>
                                        <th class="th-border">Ecole</th>
                                        <th class="th-border">Début</th>
                                        <th class="th-border">Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# {% for education in student.profile.education %}
                                    <tr class="tr-border">
                                        <td>{{ education.title }}</td>
                                        <td>{{ education.school }}</td>
                                        <td>{{ education.dateStart|date("d/m/Y") }}</td>
                                        {% if education.current == true %}
                                        <td>  en cours </td>
                                        {% else %}
                                            <td>{{ education.dateEnd|date("d/m/Y") }}</td>
                                        {% endif %} 
                                    </tr>
                                    {% else %}

                                    <tr class="border-top">
                                        <td colspan="8" class="border-top-td">Aucune formation</td>
                                    </tr> 

                                    {% endfor %}#}
                                {# </tbody>
                            </table>
                        </div> 
                    </div>  
                </div> #}
            
            </div>
        </div>

        <div class="col-lg-6">

            {# <div class="card col-lg-12" style="padding:0px;">
                
                <div class="cardBlue card-header-color card-header border-transparent">
                    <p class="card-title">Mes Documents</p>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                </div>
            
                <div class="card-body p-0 card-dashboard">
                    <div class="table-responsive">
                        <table class="table m-0" id="document-table">
                            <tr>
                                <td>Mon CV</td>
                                <td>
                                    <a href=""><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="th-dark">Ma Carte d'identité</td>
                                <td>
                                    <a href=""><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="th-dark">Ma Carte d'étudiant</td>
                                <td>
                                    <a href=""><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="th-dark">Justificatif de domicile</td>
                                <td>
                                    <a href=""><span class="fa fa-download"></span></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> #}

           <div class="col-lg-12 table-scroll">

                <div class="card" style="padding:0px;">

                    <div class="cardYellow card-header-color card-header border-transparent">
                        <p class="card-title">Missions en cours</p>
        
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                    </div>
                
            
                    <div class="card-body p-0 card-dashboard">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <th>Mission</th>
                                        <th>Situation</th>
                                    </tr>
                                    {% if applies[0] is defined %}

                                        {% if applies[0].hired == true or applies[0].confirmed == true or applies[0].agree == true %}
                                    
                                            {% for applies in applies %}
                                    <tr class="border-top">

                                        <td><a href="" class="action-link">{{ applies.offers.title }}</a></td>

                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td><a href="" title="voir l'annonce"> {{ applies.offers.title }} </a></td>  
                                        {% else %}
                                        <td><a href="" title="voir l'annonce">{{ applies.offers.title }}</a></td>
                                        {% endif %}

                                        <td>
                                            {% if applies.hired == true %}
                                                <span class="badge badge-danger" title="L'employeur attend votre validation">vous devez valider la mission</span>
                                            {% elseif applies.agree == true %}
                                            <span class="badge badge-warning" title="Embauche en cours">Dossier en traitement</span>
                                            {% elseif applies.confirmed == true %}
                                                <span class="badge badge-success" title="Mission en cours. Bonne chance !">Mission confirmée</span>    
                                            {% endif %}
                                        </td>   
                                        <td>
                                            <a href="" class="action-link"><i class="far fa-eye" title="voir les postulations"></i></a>
                                        </td> 
                                    </tr>                                              
                                            {% endfor %}
                                        
                                        {% else %}
                                            <tr class="border-top">
                                                <td colspan="8" class="border-top-td">Aucune mission en cours</td>
                                            </tr> 
                                        {% endif %}

                                    {% else %}
                                    <tr class="border-top">
                                        <td colspan="8" class="border-top-td">Aucune mission en cours</td>
                                    </tr>    
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div> 

            <div class="col-lg-12 table-scroll">

                <div class="card" style="padding:0px;">
                   
                    <div class="cardYellow card-header-color card-header border-transparent">
                        <p class="card-title">Missions terminées</p>
        
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                    </div>
                
            
                    <div class="card-body p-0 card-dashboard">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <th>Mission</th>
                                        <th>Situation</th>
                                    </tr>
                                    <tr class="border-top">
                                        <td colspan="8" class="border-top-td">Aucune mission en terminée</td>
                                    </tr>
                                 {# }   {% for finished in finished %}
                                    <tr class="border-top">
                                        <td><a href="" class="action-link">{{ finished.offers.title }}</a></td>
                                        <td>
                                            <span class="badge badge-success" title="Mission en cours. Bonne chance !">Mission terminée</span>
                                        </td>   
                                       <td>
                                            <a href="" class="action-link"><i class="far fa-eye" title="voir"></i></a>
                                        </td> 
                                    </tr>                                              
                                    {% else %} 
                                    <tr class="border-top">
                                        <td colspan="8" class="border-top-td">Aucun emploi en cours</td>
                                    </tr> 
                                    {% endfor %} #}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>  

{% endblock %}



