{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Entreprises {% endblock %}

{% block body %}

    <div id="info-1" class="modal">
        <div class="container" style="text-align:justify;">
            <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">Bienvenue sur votre tableau de bord !</p><br><br>
            <p> Le tableau 
                <span style="color:#4c4c4c !important;font-weight:900;">Candidats</span>
                Contient la liste de toutes les personnes qui ont postulées à une de vos annonces. 
            </p>
            <p> 
                Votre mission : <span style="font-weight:900;">accepter ou refuser les candidats ! </span>
            </p>
            <p> 
                Pour cela : 
                <ul>
                    <li>allez dans l'onglet "Annonces" de la barre lattérale</li><br>
                    <li>Cliquez sur l'annonce de votre choix pour voir apparaitre les candidats</li><br>
                    <li>Cliquez ensuite sur ... ou ...</li><br>
                </ul>
            </p>
            <span style="font-weight:900;">Merci !</span> 
        </div> 
    </div>

    <div id="info-2" class="modal">
        <div class="container" style="text-align:justify;">
            <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">Bienvenue sur votre tableau de bord !</p><br><br>
            <p> Le tableau 
                <span style="color:#4c4c4c !important;font-weight:900;">Recrutements en cours </span>
                Contient la liste des candidats que vous êtes en train de recruter.  
            </p>
            <p>Concrètement cela veut dire que vous en êtes à la signature des contrats. C'est une excellente nouvelle ! </p>
            <p> 
                Dès que les contrats sont signés, pensez a : 
                <ul>
                    <li>vous rendre dans l'onglet "Annonces"</li>
                    <li>sélectionner l'annonce sur laquelle vous venez de signer le contrat</li>
                    <li>cliquer sur ... pour indiquer que le recrutement est terminé</li>
                </ul>

                <span style="font-weight:900;">Merci !</span> 
            </p>
        </div> 
    </div>

    <div id="info-3" class="modal">
        <div class="container" style="text-align:justify;">
            <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">Bienvenue sur votre tableau de bord !</p><br><br>
            <p> La carte 
                <span style="color:#4c4c4c !important;font-weight:900;">Infos du Compte </span>
                contient les infos que vous avez renseignées lors de votre inscription.  
            </p>
            <p>Vous pouvez les mettre à jour dans l'onglet "Infos du Compte" de la barre lattérale. </p>
            <p> Dans cet onglet vous changerez aussi vos mots de passe ou téléchargerez votre photo de profil.</p>
            <p> 
                <span style="font-weight:900;">Bonne prise en main !</span> 
            </p>
        </div> 
    </div>

    <div id="info-4" class="modal">
        <div class="container" style="text-align:justify;">
            <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">Bienvenue sur votre tableau de bord !</p><br><br>
            <p> Le tableau 
                <span style="color:#4c4c4c !important;font-weight:900;">En Attente d'Acceptation</span>
                Contient la liste des candidats que vous souhaitez recruter et qui doivent accepter votre demande.  
            </p>
            <p>Prenez patience car la signature du contrat n'est pas loin !</p>
            <p>
                <span style="font-weight:900;">Merci !</span> 
            </p>
        </div> 
    </div>

    <div id="info-5" class="modal">
        <div class="container" style="text-align:justify;">
            <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">Bienvenue sur votre tableau de bord !</p><br><br>
            <p> Le tableau 
                <span style="color:#4c4c4c !important;font-weight:900;">Recrutements terminés</span>
                Contient la liste des candidats que vous avez recrutés.  
            </p>
            <p>C'est un peu comme la mémoire de votre activité sur Sweeetch... <a href="">#nostalgie</a></p>
            <p>
                <span style="font-weight:900;">En espérant vous apporter satisfaction !</span> 
            </p>
        </div> 
    </div>

    <div class="row row-top">

       <div class="col-lg-5">

            <div class="content-title">
                <h1>Tableau de Bord</h1>
            </div>

            <div class="row account-state">
                {% if company.user.roles == ["ROLE_SUPER_COMPANY"] %}
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-checked info-box info-success mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check"></i></span>

                        <div class="info-box-content">
                        <span class="info-box-text">Etat du compte : </span>
                        <span class="info-box-number">Validé</span>
                        </div>
                    </div>
                </div>
                {% else %} 
                <div class="col-12 col-sm-6 col-md-10">
                    <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Etat du Compte</span>
                            <span class="info-box-number">En cours de confirmation...</span>
                        </div>
                        
                    </div>
                </div> 
                {% endif %}
            </div>
        </div>
    </div> 

    <div class="row">

        <div class="col-lg-6">
            <div class="col-lg- table-scroll">
                <div class="card" style="padding:0px;">

                    <div class="card-header-color card-header border-transparent" style="background:rgba(0,0,0,.03);">
                        <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">
                            Candidats 
                            <a href="#info-1" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                            <i class="fas fa-question-circle"></i>
                            </a>
                        </p>
        
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus" style="color:#8e8e8e;"></i>
                          </button>
                        </div>
                    </div>
            
                    <div class="card-body" >
                        <table id="dash1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Annonces</th>
                                    <th>Etat du Recrutement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# {% for finished in finished %}
    
                                <tr class="border-top">
                                    <td><a href="{{ path('show_finished', {id:finished.offers.id, company:company.id}) }}" class="action-link">{{ finished.offers.title }}</a></td>
                                    <td>
                                        <span class="badge badge-success right">Recruté</span>
                                    </td>   
                                </tr>  
                                {% endfor %}  #}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card" style="padding:0px;">

                    <div class="card-header-color card-header border-transparent" style="background:rgba(0,0,0,.03);">
                        <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">
                            Recrutements en cours 
                            <a href="#info-2" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                            <i class="fas fa-question-circle"></i>
                            </a>
                        </p>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus" style="color:#8e8e8e;"></i>
                          </button>
                        </div>
                    </div>
            
                    <div class="card-body" >
                        <table id="dash2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Annonces</th>
                                    <th>Etat du Recrutement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# {% for finished in finished %}
    
                                <tr class="border-top">
                                    <td><a href="{{ path('show_finished', {id:finished.offers.id, company:company.id}) }}" class="action-link">{{ finished.offers.title }}</a></td>
                                    <td>
                                        <span class="badge badge-success right">Recruté</span>
                                    </td>   
                                </tr>  
                                {% endfor %}  #}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-lg-6">

            <div class="card col-lg-" id="card-1" style="padding:0px;">

                <div class="card-header-color card-header border-transparent" style="background:rgba(0,0,0,.03);">
                    
                    <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">
                        Infos du compte
                        <a href="#info-3" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                        <i class="fas fa-question-circle"></i>
                        </a>
                    </p>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus" style="color:#8e8e8e;"></i>
                      </button>
                    </div>
                </div>
                
                <div class="card-body p-0 card-dashboard">
                    <div class="table-padding table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <th>Entreprise</th>
                                    <td>{{ company.companyName }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ company.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ company.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ company.address }}</td>
                                </tr>
                                <tr>
                                    <th>Code Postal</th>
                                    <td>{{ company.zipCode }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ company.city }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ company.telNumber }}</td>
                                </tr>
                                <tr>
                                    <th>Siret</th>
                                    <td>{{ company.siret }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <div class="card" style="padding:0px;">

                <div class="card-header-color card-header border-transparent" style="background:rgba(0,0,0,.03);">
                    
                    <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">
                        En Attente d'Acceptation
                        <a href="#info-4" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                        <i class="fas fa-question-circle"></i>
                        </a>
                    </p>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus" style="color:#8e8e8e;"></i>
                      </button>
                    </div>
                </div>

                <div class="card-body">
                    <table id="dash3" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Annonces</th>
                                <th>Etat du Recrutement</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for applies in applies %}

                            <tr class="border-top">
                                <td><a href="{{ path('offers_preview', {id:applies.offers.id, company:company.id}) }}" class="action-link">{{ applies.offers.title }}</a></td>
                                <td>
                                    {% if applies.hired == true %}
                                    <span class="badge badge-warning right">En attente d'acceptation</span>
                                    {% elseif applies.agree == true %}
                                    <span class="badge badge-warning right">ouvert</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="col-lg- table-scroll">

                <div class="card" style="padding:0px;">

                    <div class="card-header-color card-header border-transparent" style="background:rgba(0,0,0,.03);">
                        
                        <p class="card-title" style="color:#4c4c4c !important;font-weight:900;">
                            Recrutements terminés
                            <a href="#info-5" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                            <i class="fas fa-question-circle"></i>
                            </a>
                        </p>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus" style="color:#8e8e8e;"></i>
                          </button>
                        </div>
                    </div>
            
                    <div class="card-body" >
                        <table id="dash4" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Annonces</th>
                                    <th>Etat du Recrutement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for finished in finished %}
    
                                <tr class="border-top">
                                    <td><a href="{{ path('show_finished', {id:finished.offers.id, company:company.id}) }}" class="action-link">{{ finished.offers.title }}</a></td>
                                    <td>
                                        <span class="badge badge-success right">Recruté</span>
                                    </td>   
                                </tr>  
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
        $(function () {   
        // $(function () {
            $("#dash1").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "language": {
                "emptyTable": "Aucun candidat pour l'instant",
                "paginate": {
                    "previous": "Précédent",
                    'next':'Suivant'
                    }
                }
            });   
        // });

        // $(function () {
            $("#dash2").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "language": {
                "emptyTable": "Aucun recrutement en cours",
                "paginate": {
                    "previous": "Précédent",
                    'next':'Suivant'
                    }
                }
            });
            
            $("#dash3").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "language": {
                "emptyTable": "Aucune recrutement terminé",
                "paginate": {
                    "previous": "Précédent",
                    'next':'Suivant'
                    }
                }
            });


            $("#dash4").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "language": {
                "emptyTable": "Aucune recrutement terminé",
                "paginate": {
                    "previous": "Précédent",
                    'next':'Suivant'
                    }
                }
            });
        });

    </script>
            
{% endblock %}

