{% extends 'base-school.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_SCHOOL') %} 

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0">Parcours scolaires</h1> <br>
            <a href="{{ path('studies_new', {school: school.id}) }}" class="btn btn-success">Nouveau parcours</a>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<div class="col-md-12">

    <div class="card card-responsive-table">

        <div class="pagination-bottom mb-4 mt-4"></div>

            <div class="card-body">

                <table class="table-offers table">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Domaine</th>
                            {# <th>Date de Candidature</th> #}
                            <th>Situation 
                                <a href="#flag-1" rel="modal:open" class="badge " title="aide" style="color:#8e8e8e;">
                                <i class="fas fa-question-circle"></i>
                                </a>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for study in studies %}
                        <tr>
                            <td><a href="{{ path('school_studies_show', {'id': study.id, school_id: study.school.id }) }}">{{ study.title }}</a></td>
                            <td>{{ study.domain }}</td>
                            <td>
                            {# vars #}
                            {% set hired = [] %}
                            {% set agree = [] %}
                            {% set finished = [] %}
                            {# array #}
                            {% for study in study.recruits %}
                                {# hired #}
                                {% if study.hired == true %}
                                  {% set hired = hired|merge([{ hired: study }]) %}
                                {% endif %}
                                {# agree #}
                                {% if study.agree == true %}
                                  {% set agree = agree|merge([{ agree: study }]) %}
                                {% endif %}
                                {# confirmed #}
                                {% if study.finished == true %}
                                  {% set finished = finished|merge([{ finished: study }]) %}
                                {% endif %}
                            {% endfor %}
                            {# loop #}
                            {% if agree | length == 0 %}
                                {% if hired | length == 0 %}
                                    {% if study.recruits | length == 0 or study.recruits | length == finished | length %}
                                    <span class="badge badge-secondary right" title="candidatures">Ouvert</span>
                                    {% else %}
                                    <span class="badge badge-primary right" title="candidatures">Candidats : {{ study.recruits | length }} </span>
                                    {% endif %}
                                {% else %}
                                <span class="badge badge-warning right" title="candidatures">En Attente</span>
                                {% endif %}
                            {% else %}
                            <span class="badge badge-info right" title="candidatures">A Confirmer</span>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('studies_edit', {'id': study.id, school_id: study.school.id }) }}">
                                    <button  title="Modifier" style="color:white;" class="btn btn-info btn-sm"> 
                                        <i class="fas fa-edit"></i>
                                        Modifier
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <br><br>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="info-box mb-3 overflow-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

                        <div class="info-box-nopage info-box-content">
                            <span class="info-box-text">Votre compte doit être comfirmé pour vous permettre de poster des annonces</span>            
                        </div>
                        
                    </div>
                </div> 
            {% endif %}

            </div>

        </div>

    </div>

</div>

{% endblock %}
