{# show studies to student #}

{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}

<div class="background-jobs">
    <div class="container container-jobs jobs-container">
        {# title #}
        <header id="header">
            <div class="container" id="customer-header">
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li><a href="{{ path('studies_candidate_index', {from:from, id:from_id}) }}">
                            Retour
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <h1 class="titles-front">{{ study.title }}</h1>
        <h4 class="card-subtitle mb-2 text-muted">{{ study.domain }}</h4>
        {# error and success message #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        {# school details #}
        <div class="Password card col-lg-12">
            <div class="card-body">
                <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <tbody>
                        <tr>
                            <th>Ecole</th>
                            <td>{{ study.school.companyName }}</td>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ study.title }}</td>
                        </tr>
                        <tr>
                            <th>Domaine</th>
                            <td>{{ study.domain }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="description">
                    <h5>Description</h5>
                    <div>
                        <p>{{ study.description | raw }}</p>
                    </div>
                {% if app.user.student.id is defined %}
                    <form method="post" action="{{ path('recruit', { id:study.id, student_id:app.user.student.id }) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('recruit' ~ app.user.student.id) }}">
                        <button class="btn btn-success">Postuler</button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{# footer #}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
        </div>
        <div class="credits">
        L'équipe de SWEEETCH
        </div>
    </div>
</footer>

{% endblock %}

