{# show studies to student #}

{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}

<div class="background-jobs">
    <div class="container container-jobs jobs-container">
        {# title #}
        <header id="header">
            <div class="container" id="customer-header">
                {# <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li><a href="{{ path('studies_candidate_index', {from:from}) }}">
                            Retour
                        </a></li>
                    </ul>
                </nav> #}
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin">ADMIN</a></li>
                        {% elseif  is_granted('ROLE_STUDENT') %}
                        <li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
                        {% elseif  is_granted('ROLE_COMPANY') %}
                        <li><a href="{{ path('company_show', {'id': app.user.company.id}) }}">MON ENTREPRISE</a></li>
                        {% elseif  is_granted('ROLE_SCHOOL') %}
                        <li><a href="{{ path('school_show', {'id': app.user.school.id}) }}">MON ECOLE</a></li>
                        {% endif %}
                        {% if page is defined %}
                        {# <li><a href="{{ path('offers_index', {'page':page}) }}">Emplois</a></li> #}
                        {% else %}
                        {# <li><a href="{{ path('offers_index', {'page':1}) }}">Emplois</a></li> #}
                        <li><a href="{{ path('studies_candidate_index') }}">Formations</a></li>
                        {% endif %} 
                    </ul>
                </nav>
            </div>
        </header>

        {# error and success message #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        <section>
            <div class="block" style="margin-top:80px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 column">
                            <div class="job-single-sec" style="    float: left;
                            width: 100%;">
                                <div class="job-single-head" style="    float: left;
                                width: 100%;
                                padding-bottom: 30px;
                                border-bottom: 1px solid #e8ecec;
                                display: table;">
                                    <div class="job-thumb" style="
                                    width: 200px;
                                    height: 100px;
                                    overflow: hidden;
                                    position: relative;    display: table-cell;
                                    vertical-align: top;
                                    width: 107px;"> 
                                        {% if study.school.pictures.fileName is defined %}
                                        <img src="{{ uploaded_asset(study.school.pictures.fileName) }}" alt="" style="                                   width: 200px;
                                        height: 100px;max-width: 300px;max-height:120px;
                                        object-fit: cover;">
                                        {% else %}
                                        <img src="https://via.placeholder.com/150" alt="" >
                                        {% endif %}
                                    </div>
                                    <div class="job-head-info" style="    display: table-cell;
                                    vertical-align: middle;
                                    padding-left: 25px;">
                                        <h4 style="text-align:left;">{{ study.title }}</h4>
                                        <span style="float: left;
                                        margin: 0;
                                        margin-top: 0px;
                                        margin-right: 0px;
                                        font-size: 13px;
                                        margin-right: 40px;
                                        color: #888;
                                        margin-top: 11px;">274 Seven Sisters Road, London, N4 2HY</span>
                                        <p style="float: left;
                                        margin: 0;
                                        margin-top: 0px;
                                        margin-right: 0px;
                                        font-size: 13px;
                                        margin-right: 40px;
                                        color: #888;
                                        margin-top: 11px;"><i class="la la-unlink"></i> www.jobhunt.com</p>
                                        <p style="float: left;
                                        margin: 0;
                                        margin-top: 0px;
                                        margin-right: 0px;
                                        font-size: 13px;
                                        margin-right: 40px;
                                        color: #888;
                                        margin-top: 11px;"><i class="la la-phone"></i> +90 538 963 54 87</p>
                                        <p style="float: left;
                                        margin: 0;
                                        margin-top: 0px;
                                        margin-right: 0px;
                                        font-size: 13px;
                                        margin-right: 40px;
                                        color: #888;
                                        margin-top: 11px;"><i class="la la-envelope-o"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a4c5c8cd8ad0d1c2c5cae4cecbc6ccd1cad08ac7cbc9">[email&#160;protected]</a></p>
                                    </div>
                                </div><!-- Job Head -->
                                <div class="job-details" style="float: left;
                                width: 100%;
                                padding-top: 20px;">
                                     <h3 style="float: left;
                                     width: 100%;
                                     font-size: 18px;
                                     font-weight: 500;
                                     color: #202020;
                                     margin-bottom: 15px;
                                     margin-top: 10px;text-align:left;">Job Description</h3>
                                     <p style="float: left;
                                     width: 100%;
                                     font-size: 13px;
                                     color: #888888;
                                     line-height: 24px;
                                     margin: 0;
                                     margin-bottom: 19px;">Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                                     <p style="float: left;
                                     width: 100%;
                                     font-size: 13px;
                                     color: #888888;
                                     line-height: 24px;
                                     margin: 0;
                                     margin-bottom: 19px;">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien</p>
                                     <h3 style="float: left;
                                     width: 100%;
                                     font-size: 18px;
                                     font-weight: 500;
                                     color: #202020;
                                     margin-bottom: 15px;
                                     margin-top: 10px;text-align:left;">Required Knowledge, Skills, and Abilities</h3>
                                     <ul style="float: left;
                                     width: 100%;
                                     font-size: 13px;
                                     color: #888888;
                                     line-height: 24px;
                                     margin: 0;
                                     margin-bottom: 19px;">
                                         <li >Ability to write code – HTML & CSS (SCSS flavor of SASS preferred when writing CSS)</li>
                                         <li>Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our preferred concepting)</li>
                                         <li>Cross-browser and platform testing as standard practice</li>
                                         <li>Experience using Invision a plus</li>
                                         <li>Experience in video production a plus or, at a minimum, a willingness to learn</li>
                                     </ul>
                                     <h3 style="float: left;
                                     width: 100%;
                                     font-size: 18px;
                                     font-weight: 500;
                                     color: #202020;
                                     margin-bottom: 15px;
                                     margin-top: 10px;text-align:left;">Education + Experience</h3>
                                     <ul style="float: left;
                                     width: 100%;
                                     font-size: 13px;
                                     color: #888888;
                                     line-height: 24px;
                                     margin: 0;
                                     margin-bottom: 19px;">
                                         <li>Advanced degree or equivalent experience in graphic and web design</li>
                                         <li>3 or more years of professional design experience</li>
                                         <li>Direct response email experience</li>
                                         <li>Ecommerce website design experience</li>
                                         <li>Familiarity with mobile and web apps preferred</li>
                                         <li>Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback</li>
                                         <li>Must be able to work under pressure and meet deadlines while maintaining a positive attitude and providing exemplary customer service</li>
                                         <li>Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices</li>
                                     </ul>
                                </div>
                             </div>
                         </div>
                         {# <div class="col-lg-4 column">
                             <a class="apply-thisjob" href="#" title=""><i class="la la-paper-plane"></i>Apply for job</a> #}
                             {# <div class="job-overview">
                                 <h3>Job Overview</h3>
                                 <ul>
                                     <li><i class="la la-money"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
                                     <li><i class="la la-mars-double"></i><h3>Gender</h3><span>Female</span></li>
                                     <li><i class="la la-thumb-tack"></i><h3>Career Level</h3><span>Executive</span></li>
                                     <li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>Management</span></li>
                                     <li><i class="la la-shield"></i><h3>Experience</h3><span>2 Years</span></li>
                                     <li><i class="la la-line-chart "></i><h3>Qualification</h3><span>Bachelor Degree</span></li>
                                 </ul>
                             </div><!-- Job Overview --> #}
                             {# <div class="job-location">
                                 <h3>Job Location</h3>
                                 <div class="job-lctn-map">
                                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d926917.0482572999!2d-104.57738594649922!3d40.26036964524562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2s!4v1513784737244"></iframe>
                                 </div>
                             </div>
                             <div class="extra-job-info">
                                 <span><i class="la la-clock-o"></i><strong>35</strong> Days</span>
                                 <span><i class="la la-search-plus"></i><strong>35697</strong> Displayed</span>
                                 <span><i class="la la-file-text"></i><strong>300-500</strong> Application</span>
                             </div> #}
                         {# </div> #}
                    </div>
                </div>
            </div>
        </section>
        {# school details #}
        {# <div class="Password card col-lg-12">
            <div class="card-body">
                <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <tbody>
                        <tr>
                            <th>Ecole</th>
                            <td>{{ study.school.companyName }}</td>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ study.title }}</td>
                        </tr>
                        <tr>
                            <th>Domaine</th>
                            <td>{{ study.domain }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="description">
                    <h5>Description</h5>
                    <div>
                        <p>{{ study.description | raw }}</p>
                    </div>
                {% if app.user.student.id is defined %}
                    <form method="post" action="{{ path('recruit', { id:study.id, student_id:app.user.student.id }) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('recruit' ~ app.user.student.id) }}">
                        <button class="btn btn-success">Postuler</button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div> #}
    </div>
</div>
{# footer #}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
        </div>
        <div class="credits">
        L'équipe de SWEEETCH
        </div>
    </div>
</footer>

{% endblock %}

