{% extends 'base-school.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 titles-front">{{ study.title }}</h1> <br>
            <div>
                <a href="{{ path('school_studies_index', {id:study.school.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
                {# {% if offers.applies[0] is defined %}
                    {% if offers.applies[0].finished == false %}
                    <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% else %}
                    <a href="{{ path('offers_company_finished', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% endif %}
                {% else %}
                <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
                {% endif %} 
                <a href="{{ path('offers_edit', {'id': offers.id, 'company':company.id}) }}" class="btn btn-sm btn-warning">Modifier</a> #}
            </div>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ study.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ study.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ study.Description|raw }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
