{% extends 'base-school.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 titles-front">{{ study.title }}</h1> <br>
            <div>
                <a href="{{ path('school_studies_index', {id:study.school.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
                {# {% if offers.applies[0] is defined %}
                    {% if offers.applies[0].finished == false %}
                    <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% else %}
                    <a href="{{ path('offers_company_finished', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% endif %}
                {% else %}
                <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
                {% endif %} 
                <a href="{{ path('offers_edit', {'id': offers.id, 'company':company.id}) }}" class="btn btn-sm btn-warning">Modifier</a> #}
            </div>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card" id="card-1">
                {# <div class="card-header" style="border-bottom:0px;"> #}
                    {# <div class="col-lg-12"> #}
                    <div class="card-header">
                        <p class="card-title" style="color:#FFC756 !important; font-weight:900;font-size:22px;">Détail du cursus</p>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus" style="color:#B5B7B9;"></i>
                            </button>
                        </div>
                    </div>
                    {# </div> #}
                {# </div> #}
                <div class="card-responsive card-body">
                    <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <tbody>
                            <tr>
                                <th>Domaine</th>
                                <td>{{ study.domain }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ study.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card description" style="padding:10px;">
                        <h5 class="mb-3">Description</h5>
                        <p>{{ study.description |raw }}</p>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="font-weight:900;font-size:22px;">Candidatures</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
        
                            {% for recruit in recruit %}
                            <tr>
                                <td><a href="{{ path('show_student_applied', {id:recruit.student.id, school:school.id, study:study.id}) }}">{{ recruit.student.Name }} {{ recruit.student.lastName }}</a></td>
                                <td>Le {{ recruit.dateRecruit|date("d/m/Y à g\\hi") }}</td>
                                <td>Ouvert</td>
                                <td>
                                    <div class="btn-group">
                                        {% if recruit.hired == false and recruit.agree == false and recruit.finished == false %}
                                        <form method="post" action="{{ path('recruit_hire', { id:recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir embaucher cet étudiant ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('hire' ~ recruit.id) }}">
                                            <button class="btn-icon btn-success"><i class="fas fa-user-check" title="Embaucher"></i></button>
                                        </form>
                                        <form method="post" action="{{ path('recruit_refuse', {'id': recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir refuser cette candidature ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ recruit.id) }}">
                                            <button class="btn-icon btn-danger" title="Refuser">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </form>
                                        {# {% elseif recruit.hired == true %}
                                        <button class="btn-icon-form btn-icon btn-warning" title="En attente d'acceptation de l'étudiant">
                                            <i class="fas fa-hourglass-start"></i>
                                        </button>
                                        {% elseif recruit.agree == true %}
                                        <form method="post" class="btn-icon-form" action="{{ path('recruit_confirm', { id:recruit.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir commencer l\'inscription ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ recruit.id) }}">
                                            <button class="btn-icon btn-success" title="Démarrer la mission"><i class="far fa-play-circle"></i></button>
                                        </form> #}
                                        {% endif %}
                                        <a href="#help-1" rel="modal:open" class="btn-modal btn-icon-form btn-icon btn-secondary" title="aide">
                                            <i class="fas fa-question-circle"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
            
                            {# {% else %}
                            <tr class="border-top">
                                <td colspan="8" class="border-top-td">Aucune candidature pour le moment</td>
                            </tr>   #}
                            {% endfor %}
        
                        </tbody>
                    </table>
                </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="font-weight:900;font-size:22px;">Inscriptions en cours</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
    
                    {% for process in process %}
                    <tr>
                        <td><a href="{{ path('show_student_applied', {id:process.student.id, school:school.id, study:study.id}) }}">{{ process.student.Name }} {{ process.student.lastName }}</a></td>
                        <td>Le {{ process.dateRecruit|date("d/m/Y à g\\hi") }}</td>
                        <td>Ouvert</td>
                        <td>
                            <div class="btn-group">
                                {# {% if recruit.hired == false and recruit.agree == false and recruit.confirmed == false %}
                                <form method="post" action="{{ path('recruit_hire', { id:recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir embaucher cet étudiant ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('hire' ~ recruit.id) }}">
                                    <button class="btn-icon btn-success"><i class="fas fa-user-check" title="Embaucher"></i></button>
                                </form>
                                <form method="post" action="{{ path('recruit_refuse', {'id': recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir refuser cette candidature ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ recruit.id) }}">
                                    <button class="btn-icon btn-danger" title="Refuser">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form> #}
                                {% if process.hired == true %}
                                <button class="btn-icon-form btn-icon btn-warning" title="En attente d'acceptation de l'étudiant">
                                    <i class="fas fa-hourglass-start"></i>
                                </button>
                                {% elseif process.agree == true %}
                                <form method="post" class="btn-icon-form" action="{{ path('recruit_finish', { id:process.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir commencer l\'inscription ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('finish' ~ process.id) }}">
                                    <button class="btn-icon btn-success" title="Démarrer la mission"><i class="far fa-play-circle"></i></button>
                                </form>
                                {% endif %}
                                <a href="#help-1" rel="modal:open" class="btn-modal btn-icon-form btn-icon btn-secondary" title="aide">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
    
                    {# {% else %}
                        <tr class="border-top">
                            <td colspan="8" class="border-top-td">Aucune candidature pour le moment</td>
                        </tr>   #}
                    {% endfor %}
    
                        </tbody>
                    </table>
                </div>
        <!-- /.card-body -->
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="font-weight:900;font-size:22px;">Inscriptions Terminées</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example3" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th>Nom</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
    
                    {% for finished in finished %}
                    <tr>
                        <td><a href="{{ path('show_student_applied', {id:finished.student.id, school:school.id, study:study.id}) }}">{{ finished.student.Name }} {{ finished.student.lastName }}</a></td>
                        <td>Le {{ finished.dateFinished|date("d/m/Y à g\\hi") }}</td>
                        <td>Ouvert</td>
                        <td>
                            <div class="btn-group">
                                {# {% if recruit.hired == false and recruit.agree == false and recruit.confirmed == false %}
                                <form method="post" action="{{ path('recruit_hire', { id:recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir embaucher cet étudiant ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('hire' ~ recruit.id) }}">
                                    <button class="btn-icon btn-success"><i class="fas fa-user-check" title="Embaucher"></i></button>
                                </form>
                                <form method="post" action="{{ path('recruit_refuse', {'id': recruit.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir refuser cette candidature ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ recruit.id) }}">
                                    <button class="btn-icon btn-danger" title="Refuser">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form> #}
                                {% if finished.hired == true %}
                                <button class="btn-icon-form btn-icon btn-warning" title="En attente d'acceptation de l'étudiant">
                                    <i class="fas fa-hourglass-start"></i>
                                </button>
                                {% elseif finished.agree == true %}
                                <form method="post" class="btn-icon-form" action="{{ path('recruit_finish', { id:finished.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir finaliser l\'inscription ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('finish' ~ finished.id) }}">
                                    <button class="btn-icon btn-success" title="Démarrer la mission"><i class="far fa-play-circle"></i></button>
                                </form>
                                {% endif %}
                                <a href="#help-1" rel="modal:open" class="btn-modal btn-icon-form btn-icon btn-secondary" title="aide">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
    
                    {# {% else %}
                        <tr class="border-top">
                            <td colspan="8" class="border-top-td">Aucune candidature pour le moment</td>
                        </tr>   #}
                    {% endfor %}
    
                        </tbody>
                    </table>
                </div>
        <!-- /.card-body -->
            </div>
        <!-- /.card -->
        </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('#card-1').CardWidget('toggle');
        // $('#card-2').CardWidget('toggle');
        // $('#card-3').CardWidget('toggle');
    });
</script>

{% endblock %}