<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sweeetch{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="@">

        <!-- Favicons -->
        <link href="{{ asset('build/favicon.png') }}" rel="icon">
        <link href="{{ asset('build/apple-touch-icon.png') }}" rel="apple-touch-icon">

         <!-- fontawesome provisoire -->
        <script src="https://kit.fontawesome.com/1596c4b58a.js" crossorigin="anonymous"></script>  

        {% block stylesheets %}
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

            <!-- bootstrap and custom styles -->    
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

            {{ encore_entry_link_tags('student') }}

        {% endblock %}


    </head>
    <body>

        <div id="help-1" class="modal">
            <div class="container" style="text-align:justify;">
                <h5>L'embauche se déroule en 6 étapes</h5>
                <br>
                <ol>
                    <li>Vous postulez à une offre sur la page dediée</li><br>
                    <li>Des qu'une entreprise retient votre profil, vous en etes averti sur votre tableau de bord et dans le menu latteral par l'icone <span class="badge badge-warning">!</span>
                    <br>Sur cette page, seul reste votre embauche. Toutes vos autres candidatures ont disparues ! Mais rassurez-vous : elles reviendront des votre mission terminee <i class="far fa-smile"></i> 
                    </li><br>
                    <li>Vous devez ensuite accepter ou refuser la mission</li><br>
                    <li>Puis viennent les formalites d'embauche. <br>Votre profil affiche alors : <span class="badge bg-warning">Dossier en traitement</span></li><br>
                    <li>Lorsque la mission commence, votre profil affiche : <span class="badge bg-success">En cours</span>. 
                    <br>A partir de ce moment, vous pouvez recevoir des propositions d'ecoles en alternance. 
                    </i></li><br>
                    <li>Quand la mission est terminée, allez voir dans l'onglet Candidatures > Terminees : la mission que vous venez de finir vient d'apparaitre !
                    <br>Vous pouvez de nouveau postuler a une offre d'emploi et recommencer tout le processus <i class="far fa-smile"></i>
                    </i></li><br>
                </ol>
                <p><strong>Nb :</strong> si vous souhaitez refuser définitivement une mission, cliquez sur : <button class="btn-icon btn-danger" title="Supprimer"><i class="fas fa-times"></i></button></p>
            </div> 
        </div>

        <div id="ex1" class="modal">
            {{ include('back/_warning_form.html.twig') }}
        </div>

        <div class="wrapper">

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link" href="{{ path('offers_index') }}">Chercher un Emploi</a>
                    </li>
                    <li class="nav-item d-sm-inline-block">
                        <a href="/logout" class="nav-link">Déconnexion</a>
                    </li>
                    
                    {% if is_granted('ROLE_ADMIN') %}

                    <li class="nav-item d-none d-sm-inline-block" >
                        <a class="nav-link" href="{{ path('admin') }}"> Retour à l'admin </a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link" href="{{ path('student_index') }}">Liste des étudiants</a>
                    </li>

                    {% endif %}
                </ul>

            </nav>
        
            <aside class="main-sidebar sidebar-light-primary elevation-4">
                <!-- Brand Logo -->
                <a href="{{ path('homepage') }}" class="brand-link">
                    <img src="{{ asset('build/favicon.png') }}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
                    <span class="brand-text font-weight-light"> Etudiant</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">

                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <!-- <div class="image">
                          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div> -->
                        <div class="info">
                          <a href="{{ path('student_show', {'id' : student.id }) }}" class="d-block">{{ app.user.email }}</a>
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">

                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item has-treeview">
                                <a class="nav-link" href="{{ path('student_show', {'id' : student.id }) }}">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Tableau de Bord
                                    </p>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('student_edit', {'id' : student.id }) }}">
                                    <i class="nav-icon fa fa-user-circle"></i>
                                    <p>
                                        Infos du compte 
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_edit', {'id': student.profile.id, 'student_id':student.id }) }}">
                                    <i class="nav-icon fa fa-address-card"></i>
                                    <p>
                                        Profil Etudiant 
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('student_apply', { id:student.id }) }}">
                                    <i class="nav-icon fa fa-bookmark"></i>
                                    <p>
                                        Candidatures 
                                        {% if fresh > 0 %}
                                        <span class="badge badge-info right" title="candidatures">{{ fresh }}</span>                                         
                                        {% elseif hired == true %}
                                        <span class="right badge badge-warning" title="mission à confirmer">!</span>
                                        {% endif %} 
                                    </p>
                                </a>
                                {% if is_granted('ROLE_SUPER_STUDENT') %}
                                    {% if app.request.get('_route') == 'student_apply' or app.request.get('_route') == 'offers_show_hired' or app.request.get('_route') == 'student_finished' %}

                                <li class="nav nav-tree">
                                    <li class="nav-item">
                                        <a href="{{ path('student_apply', {id:student.id}) }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Toutes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('student_finished', {id:student.id}) }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Terminées</p>
                                        {% if finished is defined %}
                                            {% if finished | length > 0 %}
                                        <span class="right badge badge-warning">{{ finished | length }}</span>
                                            {% endif %}
                                        {% endif %}
                                        </a>
                                    </li>
                                </li>

                                    {% endif %} 
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('school_student_index', { id:student.id }) }}">
                                    <i class="nav-icon fa fa-university"></i>
                                    <p>
                                        Ecoles 
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="content-wrapper">
               <section class="content content-back">
                    {% block body %}{% endblock %}
                </section>
            </div>
            <footer class="main-footer">
                <strong>Sweeetch - Etudiant</strong>
            </footer>
        </div>

        {% block javascripts %}

        {{ encore_entry_script_tags('student') }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

        <script>
            $(document).ready(function() {
                $('.js-datepicker').datepicker({
                    format: 'dd-mm-yyyy'
                });
            });
        </script>   

        <script>
            $('.browse').click(function() {
                var id = $(this).attr('data-url');
                $('#' + id).click();

                $('#' + id).change(function(e){
                    var fileName = e.target.files[0].name;

                    $('#browse-' + id).text(fileName);
                });   
            });   
        </script>

        {% endblock %}

    </body>
</html>

