<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sweeetch{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="@">

        <!-- Favicons -->
        <link href="{{ asset('build/favicon.png') }}" rel="icon">
        <link href="{{ asset('build/apple-touch-icon.png') }}" rel="apple-touch-icon">

        {% block stylesheets %}
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
            {{ encore_entry_link_tags('front') }}
        {% endblock %}

    </head>
    <body>
    
        {% block body %}{% endblock %}

        {% block javascripts %}

        {{ encore_entry_script_tags('front') }}

        <script>

            url = window.location.pathname;

            switch(url) {
                case '/student/new/':
                $('#student').prop("checked", true);
                break;

                case '/company/new':
                $('#company').prop("checked", true);
                break;

                case '/school/new':
                $('#school').prop("checked", true);
                break;
            }
        
            $('.signup').on('change', function() {

                var id = $(this).attr('id');

                switch(id) {
                    case 'student':
                    window.location.href = '/student/new';
                    break;

                    case 'company':
                    window.location.href = '/company/new';
                    break;

                    case 'school':
                    window.location.href = '/school/new';
                    break;
                }
            });

        </script>

        <script>
            // redirect if no offers on undex page 
            var pathname = window.location.pathname;

            if(pathname.match("/offers/page/[2-9]")) {

                if($(".card").length == 0) {

                    var arr = pathname.split("/");
                    var int = parseInt(arr[3]);
                    var route = int - 1;
                    window.location.href = "/offers/page/" + route;
                }
            }

        </script>

        <script>
            if($(".alert-success")[0]){
                setTimeout(function() {
                    $(".alert-success").css('display', 'none');
                }, 3000); 
            } 
        </script>
   
         <script>
            $('.browse').click(function() {

                var id = $(this).attr('data-url');
                $('#' + id).click();

                $('#' + id).change(function(e){
                    var fileName = e.target.files[0].name;

                    $('#browse-' + id).text(fileName);
                });   
            });   
        </script>

        <script src="{{ asset('lib/easing/easing.min.js') }}"></script>
        <script src="{{ asset('lib/mobile-nav/mobile-nav.js') }}"></script>
        <script src="{{ asset('lib/wow/wow.min.js') }}"></script>
        <script src="{{ asset('lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ asset('lib/counterup/counterup.min.js') }}"></script>

        <!-- Template Main Javascript File -->
    <script>
	$(document).scroll(function() {
		$('#header.header-scrolled').css({'padding':'5px 0', 'height':'90px'});

	});
</script>
{#<script>
	$(document).scroll(function() {
		$('#header.header-scrolled').css({'padding':'0px 0'});
		$('.img-fluid').css('padding', '0px');
	});
</script>#}
        <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
