{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_COMPANY') %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0">Mission Terminées</h1> <br>
        </div>
    </div>
</div> 

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

<div class="col-md-12">
    <div class="card card-responsive-table">

      <div class="pagination-bottom mb-4 mt-4">{{ knp_pagination_render(offers) }}</div>

        <div class="card-body p-0">

            <table class="table-offers table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Lieu</th>
                        <th>Domaine</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Situation</th>
                        {# <th>actions</th>#}
                    </tr>
                </thead>
                <tbody>
        
           {% for offers in offers %}
        
                {% for applies in offers.applies %}
        
                    {% if applies.finished == true %}
                
                        <tr>
                            <td><a href="{{ path('offers_preview', {'id': offers.id, 'company':company.id}) }}">{{ applies.offers.title }}</a></td>
                            <td>{{ applies.offers.location }}</td>
                            <td>{{ applies.offers.domain }}</td>
                            <td>{{ applies.offers.dateStart ? applies.offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ applies.offers.dateEnd ? applies.offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                            <td> <span class="badge bg-warning">Terminée</span> </td>
                        </tr>
        
                    {% endif %}
        
                {% endfor %}
        
           {% endfor %}
        
            </tbody>
        </table> 
        
        {% else %}

        </div>

        <div class="pagination-bottom mt-5">{{ knp_pagination_render(offers) }}</div>

    </div>      
</div> 

     

{% endif %}

{% endblock %}
