
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - offers {% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1> Liste des Postulations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for applies in student.applies %}

            {% if applies.refused is null %}
        <tbody>
            <tr>
                <td>{{ applies.offers.id }}</td>
                <td>{{ applies.offers.title }}</td>
                <td>{{ applies.offers.location }}</td>
                <td>{{ applies.offers.domain }}</td>
                <td> 
                    {% if applies.confirmed is null %}
                        {% if applies.hired is null %}
                        applied
                        {% else %}
                        hired
                        {% endif %}
                    {% else %}
                    confirmed
                    {% endif %}
                </td>
                <td>
                    {% if applies.hired == false and applies.confirmed == false %}
                    <a href="{{ path('offers_show', {'id': applies.offers.id}) }}">show</a>
                    {% elseif applies.hired == true or applies.confirmed == true %}
                    <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}">show</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>
{% endfor %}
</tbody>
</table>
    

{% endblock %}
