
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - offers {% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1> Liste des Postulations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for applies in applies %}

            {# {% if applies.refused == false %} #}
        <tbody>
            <tr>
                <td>{{ applies.offers.id }}</td>
                <td>{{ applies.offers.title }}</td>
                <td>{{ applies.offers.location }}</td>
                <td>{{ applies.offers.domain }}</td> 
                <td> 
                    {% if applies.confirmed == false %}
                        {% if applies.hired == false %}
                        applied
                        {% else %}
                        hired
                        {% endif %}
                    {% else %}
                    confirmed
                    {% endif %}
                </td>
                <td class="btn-group">
                    {% if applies.hired == false and applies.confirmed == false %}
                    <a href="{{ path('offers_show', {'id': applies.offers.id}) }}" class="btn btn-success">show</a>
                    {% elseif applies.hired == true or applies.confirmed == true %}
                    <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}" class="btn btn-success">show</a>
                    {% endif %}
                    {# <form method="post" action="{{ path('apply_quit', {'id': applies.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                        <button class="btn btn-danger">Quit</button>
                    </form> #}
                    {% if applies.confirmed == false %}
                    <form method="post" action="{{ path('apply_refuse', {'id': applies.id, 'from' : 'student' }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                        <button class="btn btn-danger">Refuse</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {# {% endif %} #}
    {% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>
{% endfor %}
</tbody>
</table>
    

{% endblock %}
