{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_COMPANY') %}

    <br><br>

    <a href="{{ path('offers_new', {id:company.id}) }}" class="btn btn-success">Create new</a>

    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

    <tr>
        <h3>Missions</h3>
    </tr>

    {% for offers in offers %}

        {% if offers.applies | length == 0 %}
     
            <tr>
                <td>{{ offers.id }}</td>
                <td>{{ offers.title }}</td>
                <td>{{ offers.location }}</td>
                <td>{{ offers.domain }}</td>
                <td>{{ offers.dateStart ? offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offers.dateEnd ? offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td> open </td>
                <td>
                    <a href="{{ path('offers_preview', {'id': offers.id}) }}">show</a>
                    <a href="{{ path('offers_edit', {'id': offers.id}) }}">edit</a>
                </td> 
            </tr>

        {% endif %}

        {% if offers.applies | length > 0 %}

            {% if offers.applies[0].finished == false %}

            <tr>
                <td>{{ offers.applies[0].offers.id }}</td>
                <td>{{ offers.applies[0].offers.title }}</td>
                <td>{{ offers.applies[0].offers.location }}</td>
                <td>{{ offers.applies[0].offers.domain }}</td>
                <td>{{ offers.applies[0].offers.dateStart ? offers.applies[0].offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offers.applies[0].offers.dateEnd ? offers.applies[0].offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>    
                    {% if offers.applies[0].confirmed == false %}
                        {% if offers.applies[0].hired == false %}
                            open
                        {% else %}
                        En attente
                        {% endif %}
                    {% else %}
                    confirmed
                    {% endif %} 
                </td>
                <td>
                    <a href="{{ path('offers_preview', {'id': offers.applies[0].offers.id}) }}">show</a>
                    <a href="{{ path('offers_edit', {'id': offers.applies[0].offers.id}) }}">edit</a>
                </td> 
            </tr>
            {% endif %}

        {% endif %}

   {% endfor %}

    </tbody>
</table>

    <br><br>

    <h3>Finished</h3>
     
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

   {% for offers in offers %}

        {% for applies in offers.applies %}

            {% if applies.finished == true %}
        
                <tr>
                    <td>{{ applies.offers.id }}</td>
                    <td>{{ applies.offers.title }}</td>
                    <td>{{ applies.offers.location }}</td>
                    <td>{{ applies.offers.domain }}</td>
                    <td>{{ applies.offers.dateStart ? applies.offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ applies.offers.dateEnd ? applies.offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                    <td> finished </td>
                    <td>
                        <a href="{{ path('offers_preview', {'id': applies.offers.id}) }}">show</a>
                        {# <a href="{{ path('offers_edit', {'id': applies.offers.id}) }}">edit</a> #}
                    </td>
                </tr>

            {% endif %}

        {% endfor %}

   {% endfor %}

    </tbody>
</table>  

{% else %}
<br><br>
<p style="color:red">Vous devez etre comfirmer pour creer des offres</p>

{% endif %}

{% endblock %}
