{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_COMPANY') %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Emplois</h1> <br>
            <a href="{{ path('offers_new', {id:company.id}) }}" class="btn btn-success">Créer un Emploi</a>
        </div>
    </div>
</div> <br>

<div class="col-md-12">
    <div class="card">

        <div class="card-body p-0">
            <table class="table-offers table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Lieu</th>
                        <th>Début</th>
                        <th>Situation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for offers in offers %}

                    {% if offers.applies | length == 0 %}
                
                    <tr>
                        <td><a href="{{ path('offers_preview', {'id': offers.id, 'company':company.id}) }}">{{ offers.title }}</a></td>
                        <td>{{ offers.location }}</td>
                        <td>{{ offers.dateStart ? offers.dateStart|date("d/m/Y") : '' }}</td>
                        <td> <span class="badge bg-primary">ouvert</span> </td>
                        <td>
                            {# <a href="{{ path('offers_preview', {'id': offers.id}) }}">show</a>#}
                            <a href="{{ path('offers_edit', {'id': offers.id, 'company':company.id}) }}" title="Modifier"><i class="fas fa-edit"></i></a>
                        </td> 
                    </tr>

                    {% endif %}

                    {% if offers.applies | length > 0 %}

                        {% if offers.applies[0].finished == false %}

                    <tr>
                        <td><a href="{{ path('offers_preview', {'id': offers.applies[0].offers.id, 'company':company.id}) }}">{{ offers.applies[0].offers.title }}</a></td>
                        <td>{{ offers.applies[0].offers.location }}</td>
                        <td>{{ offers.applies[0].offers.dateStart ? offers.applies[0].offers.dateStart|date("d/m/Y") : '' }}</td>
                        <td>    
                            {% if offers.applies[0].confirmed == false %}
                                {% if offers.applies[0].hired == false %}
                                    open
                                {% else %}
                                En attente
                                {% endif %}
                            {% else %}
                            confirmed
                            {% endif %} 
                        </td>
                        <td>
                            <a href="{{ path('offers_edit', {'id': offers.applies[0].offers.id, 'company':company.id}) }}" title="Modifier"><i class="fas fa-edit"></i></a>
                        </td> 
                    </tr>
                        {% endif %}

                    {% endif %}

                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>      
</div>

                  
        
{#

<div class="col-md-6">
    <div class="card">
     
      <div class="card-body p-0">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Task</th>
              <th>Progress</th>
              <th style="width: 40px">Label</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Update software</td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                </div>
              </td>
              <td><span class="badge bg-danger">55%</span></td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Clean database</td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-warning" style="width: 70%"></div>
                </div>
              </td>
              <td><span class="badge bg-warning">70%</span></td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Cron job running</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar bg-primary" style="width: 30%"></div>
                </div>
              </td>
              <td><span class="badge bg-primary">30%</span></td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Fix and squish bugs</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar bg-success" style="width: 90%"></div>
                </div>
              </td>
              <td><span class="badge bg-success">90%</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
#}
{# 
    <br><br>

    <h3>Finished</h3>
     
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

   {% for offers in offers %}

        {% for applies in offers.applies %}

            {% if applies.finished == true %}
        
                <tr>
                    <td>{{ applies.offers.id }}</td>
                    <td>{{ applies.offers.title }}</td>
                    <td>{{ applies.offers.location }}</td>
                    <td>{{ applies.offers.domain }}</td>
                    <td>{{ applies.offers.dateStart ? applies.offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ applies.offers.dateEnd ? applies.offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                    <td> finished </td>
                    <td>
                        <a href="{{ path('offers_preview', {'id': applies.offers.id}) }}">show</a>
                        {# <a href="{{ path('offers_edit', {'id': applies.offers.id}) }}">edit</a> #}
                {#    </td>
                </tr>

            {% endif %}

        {% endfor %}

   {% endfor %}

    </tbody>
</table> 

#}

{% else %}

<br><br>
<div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

        <div class="info-box-nopage info-box-content">
            <span class="info-box-text">Votre compte doit être validé pour créer des annonces</span>            
        </div>
        
    </div>
</div> 

{% endif %}

{% endblock %}
