
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - offers {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_STUDENT') %}

<br><br>

<div class="example-wrapper">

    <br><br>

    {% if applies[0] is defined %}

        {% if applies[0].hired == true or applies[0].confirmed == true %}
        <h3> Current </h3>
        {% else %}
        <h3> Liste des Postulations</h3>
        {% endif %}
    {% else %}

    <h3> Liste des Postulations</h3>

    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Location</th>
                <th>Domain</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        {% for applies in applies %}

        <tbody>
            <tr>
                <td>{{ applies.offers.id }}</td>
                <td>{{ applies.offers.title }}</td>
                <td>{{ applies.offers.location }}</td>
                <td>{{ applies.offers.domain }}</td> 
                <td> 
                    {% if applies.confirmed == false %}
                        {% if applies.hired == false %}
                        applied
                        {% else %}
                        hired
                        {% endif %}
                    {% else %}
                    confirmed
                    {% endif %}
                </td>
                <td class="btn-group">
                    {% if applies.hired == false and applies.confirmed == false and applies.agree == false %}
                    <a href="{{ path('offers_show', {'id': applies.offers.id}) }}" class="btn btn-secondary">show</a>
                    <form method="post" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    {% elseif applies.hired == true %}
                    <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}" class="btn btn-secondary">show</a>
                    <form method="post" action="{{ path('agree', { id:applies.id }) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  applies.offers.id) }}">
                        <button class="btn btn-success">Agree</button>
                    </form>
                    <form method="post" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    {% elseif applies.agree == true %}
                    <p style="color:red;">En attente de confirmation</p>
                    {% elseif applies.confirmed == true %}
                    <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}" class="btn btn-secondary">show</a>
                    {% endif %}
                </td>
            </tr>

    {% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>
{% endfor %}
</tbody>
</table>

<br><br>

<h3> Finished</h3>
    
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Location</th>
            <th>Domain</th>
            <th>State</th>
            <th>actions</th>
        </tr>
    </thead>

    {% for finished in finished %}

    <tbody>
        <tr>
            <td>{{ finished.offers.id }}</td>
            <td>{{ finished.offers.title }}</td>
            <td>{{ finished.offers.location }}</td>
            <td>{{ finished.offers.domain }}</td> 
            <td> 
                Finished
            </td>
            <td class="btn-group">
                <a href="{{ path('offers_show_hired', {'id': finished.offers.id, 'student_id' : student.id}) }}" class="btn btn-success">show</a>
            </td>
        </tr>

    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<br><br>
<p style="color:red;">Votre compte doit etre valide pour pouvoir postuler</p>

{% endif %}

{% endblock %}
