{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Entreprises {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 titles-front">{{ offers.title }}</h1> <br>
            <div>
                {% if offers.applies[0] is defined %}
                    {% if offers.applies[0].finished == false %}
                    <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% else %}
                    <a href="{{ path('offers_company_finished', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% endif %}
                {% else %}
                <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
                {% endif %}
                {# <a href="{{ path('offers_edit', {'id': offers.id, 'company':company.id}) }}" class="btn btn-sm btn-warning">Modifier</a> #}
            </div>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<div class="col-md-12">
    <div class="card-responsive card">

        <div class="Password card col-lg-12">

            <div class="col-lg-12">
                <h3 class="mb-3 mt-3 pl-3-responsive titles-front">Détail de l'Offre</h3>
            </div>

            <div class="card-responsive card-body">
                <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <tbody>
                        <tr>
                            <th>Lieu</th>
                            <td>{{ offers.location }}</td>
                        </tr>
                        <tr>
                            <th>Domaine</th>
                            <td>{{ offers.domain }}</td>
                        </tr>
                        <tr>
                            <th>Du</th>
                            <td>{{ offers.dateStart ? offers.dateStart|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Au</th>
                            <td>{{ offers.dateEnd ? offers.dateEnd|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card description" style="padding:10px;">
                    <h5 class="mb-3">Description</h5>
                    <p>{{ offers.description |raw }}</p>
                </div>
                
            </div>

            <div class="col-lg-12">
                <h3 class="mb-3 mt-3 ml-1 titles-front">Candidatures</h3>
            </div>

            <div class="card-responsive card-body">
            
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    
                    {% if applies[0] is defined %}

                        {% for applies in applies %}
                        
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td style="padding-top: 18px;"><a href="{{ path('student_show', { "id":applies.student.id }) }}">{{ applies.student.name }} {{ applies.student.lastname }}</a></td>
                            {% else %}
                            <td style="padding-top: 18px;"><a href="{{ path('show_applied_profile', { "id":applies.student.id, "company_id": offers.company.id, "offers":offers.id }) }}">{{ applies.student.name }} {{ applies.student.lastname }}</a></td>
                            {% endif %}
                            <td style="color:white;">
                            
                                <div class="btn-group">
                            {% if applies.hired == false and applies.confirmed == false and applies.agree == false %}
                                
                                    <form method="post" action="{{ path('hire', { id:applies.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir embaucher cet étudiant ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('hire' ~ applies.id) }}">
                                        <button class="btn-icon btn-success"><i class="fas fa-user-check" title="Embaucher"></i></button>
                                    </form>

                                    <form method="post" action="{{ path('apply_refuse', {'id': applies.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ applies.id) }}">
                                        <button class="btn-icon btn-danger" title="Refuser">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>

                            {% elseif applies.hired == true %}
                                    <button class="btn-icon-form btn-icon btn-warning" title="En attente d'acceptation de l'étudiant">
                                        <i class="fas fa-hourglass-start"></i>
                                    </button>
                            {% elseif applies.agree == true %}

                                    <form method="post" class="btn-icon-form" action="{{ path('confirm', { id:applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir commencer la mission ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ applies.id) }}">
                                        <button class="btn-icon btn-success" title="Démarrer la mission"><i class="far fa-play-circle"></i></button>
                                    </form>

                            {% elseif applies.confirmed == true %}

                                    {# <form method="post" class="btn-icon-form" action="{{ path('apply_finish', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir terminer la mission ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('stop' ~ applies.id) }}">
                                        <button class="btn-icon btn-warning" title="Terminer la mission"><i class="far fa-stop-circle"></i></button>
                                    </form> #}

                            {% endif %}
                                    <a href="#help-1" rel="modal:open" class="btn-modal btn-icon-form btn-icon btn-secondary" title="aide">
                                        <i class="fas fa-question-circle"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    
                        {% endfor %}

                    {% elseif finished | length > 0 %}
                        
                        {% for finished in finished %}
                            
                        <tr>
                            {% if finished.student.id is defined %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <td style="padding-top: 18px;" colspan="8"><a href="{{ path('student_show', { "id":finished.student.id }) }}">{{ finished.student.name }} {{ finished.student.lastname }}</a></td>
                                {% else %}
                                <td style="padding-top: 18px;" colspan="8"><a href="{{ path('show_applied_profile', { "id":finished.student.id, "company_id": offers.company.id, "offers":offers.id }) }}">{{ finished.student.name }} {{ finished.student.lastname }}</a></td>
                                {% endif %}
                            {% else %}
                                <td>
                                    <p style="color:red;">Le profil de l'étudiant a été détruit</p>
                                </td>
                                <td colspan="2">
                                    <form method="post" action="{{ path('delete_empty_companySide', {'id': finished.offers.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette mission ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ finished.offers.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>

                        {% endfor %}

                    {% else %}

                    <tr class="border-top">
                        <td colspan="8" class="border-top-td">Aucune candidature en cours</td>
                    </tr>    
                    
                    {% endif %}

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
