<!DOCTYPE html>

<title>Apply</title>

{% block body %}
    <h1>Apply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apply.id }}</td>
            </tr>
            <tr>
                <th>Hired</th>
                <td>{{ apply.hired ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Confirmed</th>
                <td>{{ apply.confirmed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('apply_index') }}">back to list</a>

    <a href="{{ path('apply_edit', {'id': apply.id}) }}">edit</a>

    {{ include('apply/_delete_form.html.twig') }}
{% endblock %}
