{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - admin {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}


{% block body %}
    <h1>Students to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.student.name }}</td>
                <td class="actions">
                    <a href="{{ path('student_show', {'id': user.student.id}) }}">show</a>
                    {{ include('back/_confirm_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}
