{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}


{% block body %}

 <!-- Main content -->
 <!-- <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-header border-0">
              <h3 class="card-title">Products</h3>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm">
                  <i class="fas fa-download"></i>
                </a>
                <a href="#" class="btn btn-tool btn-sm">
                  <i class="fas fa-bars"></i>
                </a>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped table-valign-middle">
                <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Sales</th>
                  <th>More</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                    Some Product
                  </td>
                  <td>$13 USD</td>
                  <td>
                    <small class="text-success mr-1">
                      <i class="fas fa-arrow-up"></i>
                      12%
                    </small>
                    12,000 Sold
                  </td>
                  <td>
                    <a href="#" class="text-muted">
                      <i class="fas fa-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                    Another Product
                  </td>
                  <td>$29 USD</td>
                  <td>
                    <small class="text-warning mr-1">
                      <i class="fas fa-arrow-down"></i>
                      0.5%
                    </small>
                    123,234 Sold
                  </td>
                  <td>
                    <a href="#" class="text-muted">
                      <i class="fas fa-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                    Amazing Product
                  </td>
                  <td>$1,230 USD</td>
                  <td>
                    <small class="text-danger mr-1">
                      <i class="fas fa-arrow-down"></i>
                      3%
                    </small>
                    198 Sold
                  </td>
                  <td>
                    <a href="#" class="text-muted">
                      <i class="fas fa-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                    Perfect Item
                    <span class="badge bg-danger">NEW</span>
                  </td>
                  <td>$199 USD</td>
                  <td>
                    <small class="text-success mr-1">
                      <i class="fas fa-arrow-up"></i>
                      63%
                    </small>
                    87 Sold
                  </td>
                  <td>
                    <a href="#" class="text-muted">
                      <i class="fas fa-search"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <h1>Students to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="email-{{ student.id }}">{{ student.email }}</td>
                <td class="actions">
                    <a href="{{ path('student_show', {'id': student.student.id}) }}" ><i class="fa fa-eye"></i></a>    
                    <form method="post" action="{{ path('admin_confirm', {'id': student.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.student.id) }}">
                        <button style="color:pruple;background:white;border:0px;"><i class="fa fa-question-circle"></i></button>
                    </form>
                    <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ student.id }}"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    <br><br>

    <h1>Companies to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for companies in company %}
            <tr>
                <td class="email-{{ companies.id }}">{{ companies.email }}</td>
                <td class="actions">
                    <a href="{{ path('company_show', {'id': companies.company.id}) }}" ><i class="fa fa-eye"></i></a>   
                    <form method="post" action="{{ path('admin_confirm', {'id': companies.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ companies.company.id) }}">
                        <button style="color:pruple;background:white;border:0px;"><i class="fa fa-question-circle"></i></button>
                    </form>
                    <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ companies.id }}"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <br><br>

    <h1>Schools to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in school %}
            <tr>
                <td class="email-{{ school.id }}">{{ school.email }}</td>
                <td class="actions">
                    <a href="{{ path('school_show', {'id': school.school.id}) }}" ><i class="fa fa-eye"></i></a>    
                    <form method="post" action="{{ path('admin_confirm', {'id': school.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.school.id) }}">
                        <button style="color:pruple;background:white;border:0px;"><i class="fa fa-question-circle"></i></button>
                    </form>
                    <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ school.id }}"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    {{ include('back/_warning_form.html.twig') }}

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}
