{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - admin {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}


{% block body %}
    <h1>Students to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user %}
            <tr>
                <td class="email-{{ user.id }}">{{ user.email }}</td>
                <td class="actions">
                    <a href="{{ path('student_show', {'id': user.student.id}) }}" ><i class="fa fa-eye"></i></a>     
                    <form method="post" action="{{ path('admin_confirm', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.student.id) }}">
                        <button style="color:pruple;background:white;border:0px;"><i class="fa fa-question-circle"></i></button>
                    </form>
                    <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ user.id }}"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    <br><br>

    {{ include('back/_warning_form.html.twig') }}

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}
