{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - admin {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back') }}
{% endblock %}


{% block body %}
    <h1>Students to confirm</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user %}
            <tr>
                <td class="email-{{ user.id }}">{{ user.email }}</td>
                <td class="actions">
                    <a href="{{ path('student_show', {'id': user.student.id}) }}" ><i class="fa fa-eye"></i></a>     
                    <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ user.id }}"></i></a>
                     {{ include('back/_confirm_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    <br><br>
    
    <div id="form-show" class="warningform hidden jumbotron">
        <div class="warningform__form">
            <h4 style="text-align:center;">Signaler un Probleme</h4>
            <form method="post" action="" class="form" id="warning-form" style="width:500px;margin:auto;">

                <label> Email</label>
                <input type="text" class="form-control"  style="margin-bottom:20px;" id="email" name="email">

                <h5 style="text-align:center;">Cochez les problemes : </h5>
                <div class="warningform__check__checkbox" style="display:flex;justify-content:center;">
                    <div class="warningform__check__checkbox--container">
                        <label><input type="checkbox" class="form-control check-documents" name="resume" style="margin-right:30px;"> CV</label>
                    </div>
                    <div class="warningform__check__checkbox--container">
                        <label> <input type="checkbox" class="form-control check-documents" name="idCard">Carte d'identite</label>
                    </div>
                </div>
                <div class="warningform__check__checkbox" style="display:flex;justify-content:center;margin-bottom:30px;" >
                    <div class="warningform__check__checkbox--container">
                        <label><input type="checkbox" class="form-control check-documents" name="studentCard" style="margin-right:30px;"> Carte d'etudiant</label>
                    </div>
                    <div class="warningform__check__checkbox--container">
                        <label><input type="checkbox" class="form-control check-documents" name="proofHabitation">  Justificatif de domicile</label>
                    </div>
                </div>
                
                <label> Message (facultatif)</label>
                <textarea class="form-control" id="message" rows="5" name="message"></textarea>

                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div>
        {# <div class="warningform__check">
            <h5 style="text-align:center;">Problemes : </h5>

            <div class="warningform__check__checkbox">
                <label><input type="checkbox" class="form-control check-documents" name="resume"> CV</label>
            </div>
            <div class="warningform__check__checkbox">
                <label> <input type="checkbox" class="form-control check-documents" name="idCard">Carte d'identite</label>
            </div>
            <div class="warningform__check__checkbox">
                <label><input type="checkbox" class="form-control check-documents" name="studentCard"> Carte d'etudiant</label>
            </div>
            <div class="warningform__check__checkbox">
               <label><input type="checkbox" class="form-control check-documents" name="proofHabitation">  Justificatif de domicile</label>
            </div>
  
        </div> #}
    </div>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('back') }}
{% endblock %}
