
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - Etudiants {% endblock %}

{% block body %}

    {# {% if is_granted('ROLE_HIRED') %} #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="m-0 text-dark">Formations</h1> <br>
                <a href="{{ path('studies_candidate_index', {from:'student', id:student.id}) }}" class="btn btn-sm btn-success">
                    Liste des Formations 
                </a>
            </div>
        </div>
    </div> <br>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <div class="col-md-12">
        <div class="card card-responsive-table">

            <table class="table-offers table">

                <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Domaine</th>
                        <th>Ecole</th>
                        <th>Situation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {# {% for applies in applies %}
    
                <tbody>
                    <tr>
                        <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('offers_preview', {id : applies.offers.id, company:applies.offers.company.id}) }}">{{ applies.offers.title }}</a>  
                        {% else %}
                            {% if applies.hired == true or  applies.agree == true or  applies.confirmed == true or  applies.finished == true %}
                        <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}">{{ applies.offers.title }}</a>
                            {% else %}
                        <a href="{{ path('offers_show', {'id': applies.offers.id}) }}">{{ applies.offers.title }}</a>
                            {% endif %}
                        {% endif %}
                        </td>
                        <td> {{ applies.offers.company.companyName }}</td>
                        <td>{{ applies.offers.location }}</td>
                        <td>{{ applies.offers.domain }}</td> 
                        <td> 
                            {% if applies.confirmed == false %}
                                {% if applies.agree == false %}
                                    {% if applies.hired == false %}
                                    <span class="badge bg-primary">Ouverte</span>
                                    {% else %}
                                    <span class="badge bg-warning">Vous devez confirmer</span>
                                    {% endif %}
                                {% else %}
                                <span class="badge bg-warning">Dossier en Traitement</span>
                                {% endif %}
                            {% else %}
                            <span class="badge bg-success">En cours</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                {% if applies.hired == false and applies.confirmed == false and applies.agree == false %}
                                <form method="post" class="btn-icon-form" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                                    <button class="btn-icon btn-danger" title="Supprimer">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                                {% elseif applies.hired == true %}
                                <form method="post" class="btn-icon-form" action="{{ path('agree', { id:applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir accepter cette offre ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('agree' ~  applies.id) }}">
                                    <button class="btn-icon btn-success" title="Accepter">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </form>
                                <form method="post" class="btn-icon-form" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                                    <button class="btn-icon btn-danger" title="Supprimer">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                                {% elseif applies.agree == true %}
                                <button class="btn-icon-form btn-icon btn-warning" title="Dossier en cours de traitement">
                                    <i class="fas fa-hourglass-start"></i>
                                </button>
                                {% endif %}
                                <a href="#help-1" rel="modal:open" class="btn-modal btn-icon-form btn-icon btn-secondary" title="aide">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
    
                    {% else %} #}
                    <tr class="border-top">
                        <td colspan="8" class="border-top-td">Aucune candidature en cours</td>
                    </tr> 
               {# {% endfor %} #}
                </tbody>

            </table>

        </div>
    </div>

    {% else %}
    <br><br>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="info-box mb-3 overflow-box">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

            <div class="info-box-nopage info-box-content">
                <span class="info-box-text">Vous devez avoir un emploi pour accéder aux écoles</span>            
            </div>
            
        </div>
    </div> 
    {% endif %}

{% endblock %}
