{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - écoles {% endblock %}

{% block body %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Ecoles</h1>
                </div>
            </div>
        </div>
    </div>


    <h1>School index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Ecole</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.companyName }}</td>
                <td>{{ school.siret }}</td>
                <td class="actions">
                    <div style="margin-right:20px;" class="actions">
                        <a href="{{ path('school_show', {'id': school.id}) }}">show</a>
                        <a href="{{ path('school_edit', {'id': school.id}) }}">edit</a>
                        {% if school.user.roles == ['ROLE_SCHOOL'] %}
                            <form method="post" action="{{ path('admin_confirm', {'id': school.user.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.user.id) }}">
                                <button style="color:purple;background:white;border:0px;">confirm</button>
                            </form>
                            <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ school.user.id }}"></i></a>
                        {% else %}
                            <a href="" style="color:red;"><i class="fa fa-ban warning" title="signaler un probleme" style="color:red;font-size:20px;" data-url="{{ school.user.id }}"></i></a>
                        {% endif %}
                    </div>
                    {{ include('school/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/_warning_form.html.twig') }}

{% endblock %}
