{% extends 'base-school.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}
<br><br>
    <h1>School</h1>
<br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ school.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ school.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ school.address }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ school.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ school.city }}</td>
            </tr>
            <tr>
                <th>TelNumber</th>
                <td>{{ school.telNumber }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ school.siret }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
